<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary">
        Issue Detail
      </div>
      <div class="card-body text-center" *ngIf="issue === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="issue !== undefined">
        <app-issuetrackerconnectiondetail [issueTrackerConnection]="issueTrackerConnection">
        </app-issuetrackerconnectiondetail>
        <br/>
        <br/>
        <label>Id: </label> {{issue.id}} <br/>
        <label>Identifier: </label> {{issue.identifier}} <br/>
        <label>Open Date: </label> {{issue.openDate | date: 'short'}}<br/>
        <label>Close Date: </label> {{issue.closeDate | date: 'short'}} <br/>
        <label>Issue Type: </label> {{issue.issueType}} <br/>
        <br/>
        <br/>
        <div class="card">
            <div class="card-header">
              <strong>Reported Stack Traces</strong>
              <a routerLink="/issuetrackerconnection/reportedstacktracecreate/{{issue.id}}" title="Add Reported Stack Trace"><fa-icon icon="plus"></fa-icon></a>
            </div>
            <p-table #itcdt [value]="issue.reportedStackTraces" sortField="id" [responsive]="true" class="table table-hover"
                dataKey="id" expandableRows="true" (onRowExpand)="fillAffectedUrisByReportedStackTrace($event)">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 3em"></th>
                  <th [pSortableColumn]="'id'" style="width: 5em;">
                    Id
                    <p-sortIcon [field]="'id'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'stackTrace'">
                    Stack Trace
                    <p-sortIcon [field]="'stackTrace'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'enabled'" style="width: 7em;">
                    Enabled
                    <p-sortIcon [field]="'enabled'"></p-sortIcon>
                  </th>
                  <th style="width: 6em;"></th>
                </tr>
                <tr>
                  <th></th>
                  <th>
                    <input pInputText type="text" (input)="itcdt.filter($event.target.value, 'id')" size="4">
                  </th>
                  <th>
                    <input pInputText type="text" (input)="itcdt.filter($event.target.value, 'stackTrace', 'contains')">
                  </th>
                  <th></th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rst let-expanded>
                <tr title="{{rst.note}}">
                  <td>
                    <a href="#" [pRowToggler]="rst">
                      <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                    </a>
                  </td>
                  <td>{{rst.id}}</td>
                  <td>
                      <textarea class="urupema-textarea" rows='{{rst.stackTrace.split("\n").length>10?10:rst.stackTrace.split("\n").length}}' disabled="true">{{rst.stackTrace}}</textarea>
                  </td>
                  <td>{{rst.enabled}}</td>
                  <td class="text-right">
                    <a routerLink="/issuetrackerconnection/reportedstacktracecreate/{{issue.id}}/{{rst.id}}" title="Edit Stack Trace">
                      <fa-icon icon="pencil-alt"></fa-icon>
                    </a>
                    <a routerLink="/issuetrackerconnection/issuedetail/{{issueTrackerConnection.id}}/{{issue.id}}" (click)="deleteReportedStackTrace(rst)" title="Remove Stack Trace">
                      <fa-icon icon="trash"></fa-icon>
                    </a>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="rowexpansion" let-rst>
                <tr>
                  <td [attr.colspan]="5">
                    <div class="ui-g ui-fluid" style="padding:5px">
                      <div class="card">
                        <div class="card-header">
                          <strong>Affected URIs</strong>
                          <a routerLink="/issuetrackerconnection/affecteduricreate/{{issue.id}}/{{rst.id}}" title="Add Affected URI"><fa-icon icon="plus"></fa-icon></a>
                        </div>
                        <p-table #dt2 [value]="rst.affectedUris" [responsive]="true" class="table table-hover">
                          <ng-template pTemplate="header">
                            <tr>
                              <th style="width: 5em;">
                                Id
                              </th>
                              <th>
                                Affected URI
                              </th>
                              <th style="width: 6em;">
                                Enabled
                              </th>
                              <th style="width: 5em;"></th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-affectedUri>
                            <tr title="{{affectedUri.note}}">
                              <td>
                                {{affectedUri.id}}
                              </td>
                              <td>
                                {{affectedUri.uri}}
                              </td>
                              <td>
                                {{affectedUri.enabled}}
                              </td>
                              <td class="text-right">
                                <a routerLink="/issuetrackerconnection/affecteduricreate/{{issue.id}}/{{rst.id}}/{{affectedUri.id}}" title="Edit Affected URI">
                                  <fa-icon icon="pencil-alt"></fa-icon>
                                </a>
                                <a routerLink="/issuetrackerconnection/issuedetail/{{issueTrackerConnection.id}}/{{issue.id}}" (click)="deleteAffectedUri(affectedUri)" title="Remove Affected URI">
                                  <fa-icon icon="trash"></fa-icon>
                                </a>
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <br/>
          <div class="card">
            <div class="card-header">
              <strong>Revisions</strong>
              <a routerLink="/issuetrackerconnection/revisioncreate/{{issue.id}}" title="Add Revision"><fa-icon icon="plus"></fa-icon></a>
            </div>
            <p-table #itcdt [value]="issue.revisions" sortField="id" [responsive]="true" class="table table-hover"
                dataKey="id" expandableRows="true" (onRowExpand)="fillChangedFilesByRevision($event)">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 3em"></th>
                  <th [pSortableColumn]="'id'" style="width: 5em;">
                    Id
                    <p-sortIcon [field]="'id'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'identifier'">
                    Identifier
                    <p-sortIcon [field]="'identifier'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'date'" style="width: 12em;">
                    Date
                    <p-sortIcon [field]="'date'"></p-sortIcon>
                  </th>
                  <th style="width: 5em;"></th>
                </tr>
                <tr>
                  <th></th>
                  <th>
                    <input pInputText type="text" (input)="itcdt.filter($event.target.value, 'id')" size="4">
                  </th>
                  <th>
                    <input pInputText type="text" (input)="itcdt.filter($event.target.value, 'identifier', 'contains')">
                  </th>
                  <th></th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rev let-expanded>
                <tr title="{{rev.comment}}">
                  <td>
                    <a href="#" [pRowToggler]="rev">
                      <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                    </a>
                  </td>
                  <td>{{rev.id}}</td>
                  <td>{{rev.identifier}}</td>
                  <td>{{rev.date | date: 'short'}}</td>
                  <td class="text-right">
                    <a routerLink="/issuetrackerconnection/revisioncreate/{{issue.id}}/{{rev.id}}" title="Edit Revision">
                      <fa-icon icon="pencil-alt"></fa-icon>
                    </a>
                    <a routerLink="/issuetrackerconnection/issuedetail/{{issueTrackerConnection.id}}/{{issue.id}}" (click)="deleteRevision(rev)" title="Remove Revision">
                      <fa-icon icon="trash"></fa-icon>
                    </a>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="rowexpansion" let-rev>
                <tr>
                  <td [attr.colspan]="5">
                    <div class="ui-g ui-fluid" style="padding:5px">
                      <div class="card">
                        <div class="card-header">
                          <strong>Changed Files</strong>
                          <a routerLink="/issuetrackerconnection/changedfilecreate/{{issue.id}}/{{rev.id}}" title="Add Changed File"><fa-icon icon="plus"></fa-icon></a>
                        </div>
                        <p-table #dt2 [value]="rev.changedFiles" [responsive]="true" class="table table-hover">
                          <ng-template pTemplate="header">
                            <tr>
                              <th [pSortableColumn]="'id'" style="width: 5em;">
                                Id
                                <p-sortIcon [field]="'id'"></p-sortIcon>
                              </th>
                              <th>
                                Name
                              </th>
                              <th style="width: 9em;">File Change Type</th>
                              <th style="width: 5em;">
                                Enabled
                              </th>
                              <th style="width: 5em;"></th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-changedFile>
                            <tr title="{{changedFile.note}}">
                              <td>
                                {{changedFile.id}}
                              </td>
                              <td>
                                {{changedFile.name}}
                              </td>
                              <td>
                                {{changedFile.fileChangeType}}
                              </td>
                              <td>
                                {{changedFile.enabled}}
                              </td>
                              <td class="text-right">
                                <a routerLink="/issuetrackerconnection/changedfilecreate/{{issue.id}}/{{rev.id}}/{{changedFile.id}}" title="Edit Changed File">
                                  <fa-icon icon="pencil-alt"></fa-icon>
                                </a>
                                <a routerLink="/issuetrackerconnection/issuedetail/{{issueTrackerConnection.id}}/{{issue.id}}" (click)="deleteChangedFile(changedFile)" title="Remove Changed File">
                                  <fa-icon icon="trash"></fa-icon>
                                </a>
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <br/>
          <div class="card">
            <div class="card-header">
              <strong>Log Groups</strong>
            </div>
            <p-table #issues [value]="issue.logGroups" sortField="sourceConnection.id" [responsive]="true" class="table table-hover">
              <ng-template pTemplate="header">
                <tr>
                  <th>
                    Source Connection
                  </th>
                  <th [pSortableColumn]="'id'" style="width: 5em;">
                    Id
                    <p-sortIcon [field]="'id'"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-logGroup>
                <tr title="{{logGroup.label}}">
                  <td>{{logGroup.sourceConnection.id}} - {{logGroup.sourceConnection.name}}</td>
                  <td>{{logGroup.id}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <br/>
      </div>
    </div>
  </div>
</div>
