<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary">
        Issue Tracker Source <a routerLink="/issuetrackersource/create" title="Add Issue Tracker Source"><fa-icon icon="plus"></fa-icon></a>
      </div>
      <div class="card-body text-center" *ngIf="issueTrackerSources === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="issueTrackerSources !== undefined">
        <p-table #dt [value]="issueTrackerSources" [responsive]="true" class="table table-hover">
          <ng-template pTemplate="header">
            <tr>
              <th [pSortableColumn]="'id'" style="width: 4em;">
                Id
                <p-sortIcon [field]="'id'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'name'">
                Name
                <p-sortIcon [field]="'name'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'issueTrackerTypeId'">
                Issue Tracker Type Id
                <p-sortIcon [field]="'issueTrackerTypeId'"></p-sortIcon>
              </th>
              <th style="width: 5em;"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-issueTrackerSource>
            <tr>
              <td>{{issueTrackerSource.id}}</td>
              <td>{{issueTrackerSource.name}}</td>
              <td>{{issueTrackerSource.issueTrackerTypeId}}</td>
              <td class="text-right">
                <a routerLink="/issuetrackersource/create/{{issueTrackerSource.id}}" title="Edit Issue Tracker Source">
                  <fa-icon icon="pencil-alt"></fa-icon>
                </a>
                <a routerLink="/issuetrackersource/list" (click)="deleteIssueTrackerSource(issueTrackerSource)" title="Remove Issue Tracker Source">
                  <fa-icon icon="trash"></fa-icon>
                </a>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
