<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary" *ngIf="issueTrackerSource == undefined">
        Create Issue Tracker Source
      </div>
      <div class="card-header urupema-card-header-primary" *ngIf="issueTrackerSource !== undefined && issueTrackerSource.id">
        Update Issue Tracker Source
      </div>
      <div class="card-body text-center" *ngIf="issueTrackerTypes === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="issueTrackerTypes !== undefined">
        <form [formGroup]="form" novalidate>
          <div class="form-group">
            <label class="col-md-4">Issue Tracker Type:</label>
            <select class="form-control" formControlName="issueTrackerTypeId" (change)="fillForm($event.target.value)">
              <option *ngFor="let issueTrackerType of issueTrackerTypes"
                value="{{issueTrackerType.id}}"
                [selected]="form.controls['issueTrackerTypeId'].value == issueTrackerType.id">
                  {{issueTrackerType.name}}
              </option>
            </select>
          </div>
          <div *ngIf="form.controls['issueTrackerTypeId'].invalid && (form.controls['issueTrackerTypeId'].dirty || form.controls['issueTrackerTypeId'].touched)" class="alert alert-danger">
            <div *ngIf="form.controls['issueTrackerTypeId'].errors.required">
              Issue Tracker Type is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Name:</label>
            <input type="text" class="form-control" formControlName="name" #name />
          </div>
          <div *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)" class="alert alert-danger">
            <div *ngIf="form.controls['name'].errors.required">
              Name is required.
            </div>
          </div>
          <span *ngIf="issueTrackerTypeSelected !== undefined">
            <div class="form-group" *ngFor="let property of issueTrackerTypeSelected.connectionProperties">
              <label class="col-md-4">{{property.name}}:</label>
              <input type="text" class="form-control" formControlName="{{property.name}}" #{{property.name}} />
            </div>
          </span>
          <div class="form-group" *ngIf="issueTrackerSource == undefined">
            <button (click)="create()" [disabled]="form.pristine || form.invalid" class="btn btn-primary">Add</button>
          </div>
          <div class="form-group" *ngIf="issueTrackerSource !== undefined && issueTrackerSource.id">
            <button (click)="update()" [disabled]="form.pristine || form.invalid" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
