/* You can add global styles to this file, and also import other style files */

body {
  font-size:  0.875rem;
  line-height: 1.0;
 }

 .navbar {
  padding: 0rem 1rem 0rem 1rem;
 }

.urupema-theme{
   background-color: #4CAF50;
}

.urupema-panel{
   background-color: #4CAF50;
   min-height: 50px;
   color: white;
}

.urupema-card-header-primary {
  background-color: #dff0d8;
  color: #3c763d;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
}

.urupema-textarea {
  width: 100% !important;
  font-size: 0.8rem;
  background-color: white !important;
}

label {
  font-weight: bold;
}

.ng-fa-icon {
  margin: 0.1rem;
  font-size:  0.8rem;
  line-height: 1.0;
}

.th-uri {
  width: 40%;
  text-align: left !important;
}

.td-uri, .td-users {
  text-align: left !important;
}

.th-groupOriginId {
  width: 4em !important;
}

.th-numRelatedGroups {
  width: 4em !important;
}

.th-count {
  width: 7em !important;
}

.text-red {
  color: red !important;
}

.blurry {
  /*color: transparent;
  text-shadow: 0 0 5px #000;*/
}
