<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary">
        Group Aggregator Types
      </div>
      <div class="card-body text-center" *ngIf="groupAggregatorTypes === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="groupAggregatorTypes !== undefined">
        <p-table #dt [value]="groupAggregatorTypes" [responsive]="true" class="table table-hover">
          <ng-template pTemplate="header">
            <tr>
              <th [pSortableColumn]="'id'" style="width: 15em;">
                Id
                <p-sortIcon [field]="'id'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'name'" style="width: 20em;">
                Name
                <p-sortIcon [field]="'name'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'description'">
                Description
                <p-sortIcon [field]="'description'"></p-sortIcon>
              </th>
              <th style="width: 15em;">
                LogTypes
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-aType>
            <tr>
              <td>{{aType.id}}</td>
              <td>{{aType.name}}</td>
              <td>{{aType.description}}</td>
              <td>{{aType.logTypes}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
