<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary">
        Log Group
      </div>
      <div class="card-body text-center" *ngIf="logGroup === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="logGroup !== undefined">
        <label>Id:</label> {{logGroup.id}}
        <br/>
        <label>Type Description:</label> {{logGroup.typeDescription}}
        <br/>
        <label>Occurrence:</label> {{logGroup.firstOccurrenceDate | date: 'short'}} - {{logGroup.lastOccurrenceDate | date: 'short'}}
        <br/>
        <label>Elements:</label> {{logGroup.elementsCount}}
        <br/>
        <label>Representant Id:</label> {{logGroup.representantId}}
        <br/>
        <label>Super Group:</label>
        <a routerLink="/sourceconnection/loggroup/{{sourceConnection.id}}/{{logGroup.superGroup.id}}" (click)="findLogGroup(logGroup.superGroup.id)" title="Detail Log Group"
        *ngIf="logGroup.superGroup != null">
          {{logGroup.superGroup.id}}
        </a>
        <br/>
        <div class="form-group">
          <label>Label:</label><br/>
          <textarea class="urupema-textarea blurry"  rows='{{logGroup.label.split("\n").length}}' disabled="true">{{logGroup.label}}</textarea>
        </div>
        <div class="form-group" *ngFor="let info of logGroup.moreInformation | maptoiterable">
            <label>{{info.key}}: </label> {{info.value}}
            <br/>
        </div>
        <br/>
        <app-sourceconnectiondetail [sourceConnection]="sourceConnection" *ngIf="sourceConnection !== undefined">
        </app-sourceconnectiondetail>
        <br/>
        <a routerLink="/sourceconnection/affectedurisandusers/{{sourceConnection.id}}/{{logGroup.id}}" title="Affected URIs and Users">
          Affected URIs and Users
        </a>
        -
        <a routerLink="/sourceconnection/logsovertime/{{sourceConnection.id}}/{{logGroup.id}}" title="Logs Over Time">
          Logs Over Time
        </a>
        -
        <a routerLink="/sourceconnection/commonfcsfs/{{sourceConnection.id}}/{{logGroup.id}}" title="Common FCSFs">
          View Common FCSFs
        </a>
        <div class="card">
          <div class="card-header">
            <strong>Subgroups ({{logGroup.subGroupsCount}})</strong>
          </div>
          <p-table #dt [value]="logGroup.subGroups" sortField="elementsCount" sortOrder="-1" [responsive]="true" class="table table-hover">
            <ng-template pTemplate="header">
              <tr>
                  <th [pSortableColumn]="'id'" style="width: 5em;">
                    Id
                    <p-sortIcon [field]="'id'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'label'">
                    Label
                    <p-sortIcon [field]="'label'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'firstOccurrenceDate'" class="text-right" style="width: 7em;">
                    First
                    <p-sortIcon [field]="'firstOccurrenceDate'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'lastOccurrenceDate'" class="text-right" style="width: 7em;">
                    Last
                    <p-sortIcon [field]="'lastOccurrenceDate'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'elementsCount'" class="text-right" style="width: 8em;">
                    Elements
                    <p-sortIcon [field]="'elementsCount'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'subGroupsCount'" class="text-right" style="width: 8em;">
                    Subgroups
                    <p-sortIcon [field]="'subGroupsCount'"></p-sortIcon>
                  </th>
                  <th style="width: 7em;"></th>
              </tr>
              <tr>
                <th>
                  <input pInputText type="text" (input)="dt.filter($event.target.value, 'id')" size="5">
                </th>
                <th>
                  <input pInputText type="text" class="blurry" (input)="dt.filter($event.target.value, 'label', 'contains')" size="50">
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-lg>
              <tr>
                <td title="{{lg.typeDescription}}">{{lg.id}}</td>
                <td>
                  <textarea class="urupema-textarea blurry" rows='{{lg.label.split("\n").length>10?10:lg.label.split("\n").length}}' disabled="true">{{lg.label}}</textarea>
                </td>
                <td class="text-right">{{lg.firstOccurrenceDate | date: 'short'}}</td>
                  <td class="text-right">{{lg.lastOccurrenceDate | date: 'short'}}</td>
                <td class="text-right">{{lg.elementsCount}}</td>
                <td class="text-right">{{lg.subGroupsCount}}</td>
                <td class="text-right">
                  <a routerLink="/sourceconnection/fcsfsloggroup/{{sourceConnection.id}}/{{lg.id}}" title="View FCSFs: {{lg.mapFcsfsCount}}" *ngIf="lg.mapFcsfsCount > 0">
                    <fa-icon icon="dna"></fa-icon>
                  </a>
                  <a *ngIf="lg.mapFcsfsCount == 0">
                    <fa-icon icon="dna" [inverse]='true'></fa-icon>
                  </a>
                  <a routerLink="/sourceconnection/loggroup/{{sourceConnection.id}}/{{lg.id}}" (click)="findLogGroup(lg.id)" title="Detail Log Group">
                    <fa-icon icon="box-open"></fa-icon>
                  </a>
                  <a routerLink="/sourceconnection/suspiciousfiles/{{sourceConnection.id}}/{{lg.id}}" title="Suspicious Files">
                    <fa-icon icon="bug"></fa-icon>
                  </a>
                  <a routerLink="/sourceconnection/log/detail/{{sourceConnection.id}}/{{lg.representantId}}" title="Detail Representant: {{lg.representantId}}" *ngIf="lg.representantId != null">
                    <fa-icon icon="search"></fa-icon>
                  </a>
                  <a *ngIf="lg.representantId == null">
                    <fa-icon icon="search" [inverse]='true'></fa-icon>
                  </a>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                  <td colspan="4" class="text-right">Totals</td>
                  <td class="text-right">{{totalElemnts}}</td>
                  <td class="text-right">{{totalSubgroups}}</td>
                  <td></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
