<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary" *ngIf="id == undefined">
        Create Group Correlator
      </div>
      <div class="card-header urupema-card-header-primary" *ngIf="id">
        Update Group Correlator
      </div>
      <div class="card-body text-center" *ngIf="study === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="study !== undefined">
        <form [formGroup]="groupCorrelatorForm" novalidate>
          <div class="form-group">
            <label>Study:</label>
            {{study.name}}
          </div>
          <div class="form-group">
            <label class="col-md-4">Group Correlator Type:</label>
            <select class="form-control" formControlName="groupCorrelatorTypeId" #groupCorrelatorTypeId (change)="fillSourceConnections($event.target.value)">
              <option *ngFor="let gcType of groupCorrelatorTypes" value="{{gcType.id}}" [selected]="groupCorrelatorForm.controls['groupCorrelatorTypeId'].value == gcType.id">
                {{gcType.name}}
              </option>
            </select>
          </div>
          <div *ngIf="groupCorrelatorForm.controls['groupCorrelatorTypeId'].invalid && (groupCorrelatorForm.controls['groupCorrelatorTypeId'].dirty || groupCorrelatorForm.controls['groupCorrelatorTypeId'].touched)" class="alert alert-danger">
            <div *ngIf="groupCorrelatorForm.controls['groupCorrelatorTypeId'].errors.required">
              Group Correlator Type is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Name:</label>
            <input type="text" class="form-control" formControlName="name" #name />
          </div>
          <div *ngIf="groupCorrelatorForm.controls['name'].invalid && (groupCorrelatorForm.controls['name'].dirty || groupCorrelatorForm.controls['name'].touched)"
            class="alert alert-danger">
            <div *ngIf="groupCorrelatorForm.controls['name'].errors.required">
              Name is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Source Connection Origin:</label>
            <select class="form-control" formControlName="sourceConnectionOriginId" #sourceConnectionOriginId>
              <option *ngFor="let sc of originSourceConnections" value="{{sc.id}}" [selected]="groupCorrelatorForm.controls['sourceConnectionOriginId'].value == sc.id">
                {{sc.name}}
              </option>
            </select>
          </div>
          <div *ngIf="groupCorrelatorForm.controls['sourceConnectionOriginId'].invalid && (groupCorrelatorForm.controls['sourceConnectionOriginId'].dirty || groupCorrelatorForm.controls['sourceConnectionOriginId'].touched)" class="alert alert-danger">
            <div *ngIf="groupCorrelatorForm.controls['sourceConnectionOriginId'].errors.required">
              Source Connection Origin is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Source Connection Destiny:</label>
            <select class="form-control" formControlName="sourceConnectionDestinyId" #sourceConnectionDestinyId>
              <option *ngFor="let sc of destinySourceConnections" value="{{sc.id}}" [selected]="groupCorrelatorForm.controls['sourceConnectionDestinyId'].value == sc.id">
                {{sc.name}}
              </option>
            </select>
          </div>
          <div *ngIf="groupCorrelatorForm.controls['sourceConnectionDestinyId'].invalid  && (groupCorrelatorForm.controls['sourceConnectionDestinyId'].dirty || groupCorrelatorForm.controls['sourceConnectionDestinyId'].touched)" class="alert alert-danger">
            <div *ngIf="groupCorrelatorForm.controls['sourceConnectionDestinyId'].errors.required">
              Source Connection Destiny is required.
            </div>
          </div>
          <div class="form-group" *ngIf="id == undefined">
            <button (click)="create()" [disabled]="groupCorrelatorForm.pristine || groupCorrelatorForm.invalid" class="btn btn-primary">Add</button>
          </div>
          <div class="form-group" *ngIf="id">
            <button (click)="update()" [disabled]="groupCorrelatorForm.pristine || groupCorrelatorForm.invalid" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
