<div *ngIf="sourceConnection !== undefined">
    <label>Name:</label>
    <a routerLink="/sourceconnection/listloggroups/{{sourceConnection.id}}" title="List Log Groups">
      {{sourceConnection.name}}
    </a>
    <br/>
    <label>Log Source:</label> {{sourceConnection.source.name}}
    <br/>
    <label>Group Aggregator Type:</label> {{sourceConnection.groupAggregatorType.name}}
    <br/>
    <label>Start:</label> {{sourceConnection.startDate | date: 'short'}}
    <br/>
    <label>End:</label> {{sourceConnection.endDate | date: 'short'}}
    <br/>
</div>
