<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary" *ngIf="issueTrackerConnection === undefined">
        Create Issue Trakcer Connection
      </div>
      <div class="card-header urupema-card-header-primary" *ngIf="issueTrackerConnection !== undefined && issueTrackerConnection.id">
        Update Issue Trakcer Connection
      </div>
      <div class="card-body text-center" *ngIf="study === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="study !== undefined">
        <form [formGroup]="issueTrackerConnectionForm" novalidate>
          <div class="form-group">
            <label>Study:</label>
            {{study.name}}
          </div>
          <div class="form-group">
            <label class="col-md-4">Issue Tracker Source:</label>
            <select class="form-control" formControlName="issueTrackerSourceId" (change)="fillForm($event.target.value)" #issueTrackerSourceId>
              <option *ngFor="let its of issueTrackerSources"
                value="{{its.id}}"
                [selected]="issueTrackerConnectionForm.controls['issueTrackerSourceId'].value == its.id">
                  {{ its.name }}
              </option>
            </select>
          </div>
          <div *ngIf="issueTrackerConnectionForm.controls['issueTrackerSourceId'].invalid && (issueTrackerConnectionForm.controls['issueTrackerSourceId'].dirty || issueTrackerConnectionForm.controls['issueTrackerSourceId'].touched)" class="alert alert-danger">
            <div *ngIf="issueTrackerConnectionForm.controls['issueTrackerSourceId'].errors.required">
              Issue Tracker Source is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Name:</label>
            <input type="text" class="form-control" formControlName="name" #name />
          </div>
          <div *ngIf="issueTrackerConnectionForm.controls['name'].invalid && (issueTrackerConnectionForm.controls['name'].dirty || issueTrackerConnectionForm.controls['name'].touched)" class="alert alert-danger">
            <div *ngIf="issueTrackerConnectionForm.controls['name'].errors.required">
              Name is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Start date:</label>
            <input type="datetime-local" class="form-control" placeholder="dd/mm/yyyy hh:MM:ss" formControlName="startDate" #startDate />
          </div>
          <div *ngIf="issueTrackerConnectionForm.controls['startDate'].invalid && (issueTrackerConnectionForm.controls['startDate'].dirty || issueTrackerConnectionForm.controls['startDate'].touched)" class="alert alert-danger">
            <div *ngIf="issueTrackerConnectionForm.controls['startDate'].errors.required">
              Start Date is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">End date:</label>
            <input type="datetime-local" class="form-control" placeholder="dd/mm/yyyy hh:MM:ss" formControlName="endDate" #endDate />
          </div>
          <div *ngIf="issueTrackerConnectionForm.controls['endDate'].invalid && (issueTrackerConnectionForm.controls['endDate'].dirty || issueTrackerConnectionForm.controls['endDate'].touched)" class="alert alert-danger">
            <div *ngIf="issueTrackerConnectionForm.controls['endDate'].errors.required">
              End Date is required.
            </div>
          </div>
          <span *ngIf="issueTrackerSourceSelected !== undefined">
            <div class="form-group" *ngFor="let property of issueTrackerSourceSelected.issueTrackerType.queryProperties">
              <label class="col-md-4">{{property.name}}:</label>
              <input type="text" class="form-control" formControlName="{{property.name}}" #{{property.name}} />
            </div>
          </span>
          <div class="form-group" *ngIf="issueTrackerConnection == undefined">
            <button (click)="create()" [disabled]="issueTrackerConnectionForm.pristine || issueTrackerConnectionForm.invalid" class="btn btn-primary">Add</button>
          </div>
          <div class="form-group" *ngIf="issueTrackerConnection !== undefined && issueTrackerConnection.id">
            <button (click)="update()" [disabled]="issueTrackerConnectionForm.pristine || issueTrackerConnectionForm.invalid" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
