<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary">
        Source Connection - Log Groups
      </div>
      <div class="card-body text-center" *ngIf="sourceConnection === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="sourceConnection !== undefined">
        <app-sourceconnectiondetail [sourceConnection]="sourceConnection">
        </app-sourceconnectiondetail>
        <br/>
        <a routerLink="/sourceconnection/suspiciousfilesallgroups/{{sourceConnection.id}}" title="View Suspicious Files For All LogGroups">
          View Suspicious Files For All Log Groups
        </a>
        <div class="card" *ngIf="sourceConnection.logGroups !== undefined">
          <div class="card-header">
            <strong>Log Groups ({{sourceConnection.logGroups.length}}) </strong>
            <a routerLink="/sourceconnection/logdistbynumtraceelements/{{sourceConnection.id}}" title="Log distribution by number of trace elements">
              <fa-icon icon="chart-bar"></fa-icon>
            </a>
          </div>
          <p-table #dt [value]="sourceConnection.logGroups" sortField="elementsCount" sortOrder="-1" [responsive]="true" class="table table-hover">
            <ng-template pTemplate="header">
              <tr>
                <th [pSortableColumn]="'id'" style="width: 5em;">
                  Id
                  <p-sortIcon [field]="'id'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'label'">
                  Label
                  <p-sortIcon [field]="'label'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'firstOccurrenceDate'" class="text-right" style="width: 7em;">
                  First
                  <p-sortIcon [field]="'firstOccurrenceDate'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'lastOccurrenceDate'" class="text-right" style="width: 7em;">
                  Last
                  <p-sortIcon [field]="'lastOccurrenceDate'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'elementsCount'" class="text-right" style="width: 8em;">
                  Elements
                  <p-sortIcon [field]="'elementsCount'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'subGroupsCount'" class="text-right" style="width: 8em;">
                  Subgroups
                  <p-sortIcon [field]="'subGroupsCount'"></p-sortIcon>
                </th>
                <th style="width: 8em;"></th>
              </tr>
              <tr>
                <th>
                  <input pInputText type="text" (input)="dt.filter($event.target.value, 'id')" size="5">
                </th>
                <th>
                  <input pInputText type="text" (input)="dt.filter($event.target.value, 'label', 'contains')" size="50">
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-lg>
              <tr>
                  <td title="{{lg.typeDescription}}">{{lg.id}}</td>
                  <td>
                    <textarea class="urupema-textarea blurry" rows='{{lg.label.split("\n").length>10?10:lg.label.split("\n").length}}' disabled="true">{{lg.label}}</textarea>
                  </td>
                  <td class="text-right">{{lg.firstOccurrenceDate | date: 'short'}}</td>
                  <td class="text-right">{{lg.lastOccurrenceDate | date: 'short'}}</td>
                  <td class="text-right">{{lg.elementsCount}}</td>
                  <td class="text-right">{{lg.subGroupsCount}}</td>
                  <td class="text-right">
                    <a routerLink="/sourceconnection/fcsfsloggroup/{{sourceConnection.id}}/{{lg.id}}" title="View FCSFs: {{lg.mapFcsfsCount}}" *ngIf="lg.mapFcsfsCount > 0">
                      <fa-icon icon="dna"></fa-icon>
                    </a>
                    <a *ngIf="lg.mapFcsfsCount == 0">
                      <fa-icon icon="dna" [inverse]='true'></fa-icon>
                    </a>
                    <a routerLink="/sourceconnection/loggroup/{{sourceConnection.id}}/{{lg.id}}" title="Detail">
                      <fa-icon icon="box-open"></fa-icon>
                    </a>
                    <a routerLink="/sourceconnection/suspiciousfiles/{{sourceConnection.id}}/{{lg.id}}" title="Suspicious Files">
                      <fa-icon icon="bug"></fa-icon>
                    </a>
                    <a routerLink="/sourceconnection/loggroupsuspiciousreport/{{lg.id}}" title="Suspicious Report">
                      <fa-icon icon="file"></fa-icon>
                    </a>
                  </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                  <td colspan="4" class="text-right">Totals</td>
                  <td class="text-right">{{totalElements}}</td>
                  <td class="text-right">{{totalSubgroups}}</td>
                  <td></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
