<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary">
        Common FCSFs
      </div>
      <div class="card-body text-center" *ngIf="logGroup.subGroups === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="logGroup.subGroups !== undefined">
        <app-sourceconnectiondetail [sourceConnection]="sourceConnection" *ngIf="sourceConnection !== undefined">
        </app-sourceconnectiondetail>
        <br/>
        <br/>
        <p-accordion [multiple]="true">
          <ng-container *ngFor="let logGroupA of logGroup.subGroups">
            <ng-container *ngFor="let logGroupB of logGroup.subGroups">
              <ng-container *ngIf="logGroupB.id > logGroupA.id && logGroupA.mapFcsfsCount > 0 && logGroupB.mapFcsfsCount > 0 && logGroupA.mapFCSFs !== undefined && logGroupB.mapFCSFs !== undefined">
                <ng-container *ngIf="findCommonFCSFs(logGroupA, logGroupB); let commonFCSFs">
                  <p-accordionTab *ngIf="commonFCSFs.length > 0" [selected]="isSelected(commonFCSFs)">
                    <p-header>
                      <strong>
                        <span>{{logGroupA.id}} ({{logGroupA.elementsCount}} elements)</span>
                        x
                        <span>{{logGroupB.id}} ({{logGroupB.elementsCount}} elements)</span>:
                        {{commonFCSFs.length}} Common FCSFs
                      </strong>
                    </p-header>
                    <p-table #dt [value]="commonFCSFs" [responsive]="true" class="table table-hover">
                      <ng-template pTemplate="header">
                        <tr>
                          <th>
                            FCSF
                          </th>
                          <th class="text-right" style="width: 8em;">
                            R.S. L.G. A
                          </th>
                          <th class="text-right" style="width: 8em;">
                            R.S. L.G. B
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-common>
                        <tr>
                          <td>
                            <textarea class="urupema-textarea" rows='{{common.fcsf.split(",").length>10?10:common.fcsf.split(",").length}}' disabled="true">{{common.fcsf.split(", ").join("\n")}}</textarea>
                          </td>
                          <td class="text-right">{{common.relativeSupportLogGroupA}}</td>
                          <td class="text-right">{{common.relativeSupportLogGroupB}}</td>
                        </tr>
                      </ng-template>
                    </p-table>
                    <br/>
                  </p-accordionTab>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </p-accordion>
      </div>
    </div>
  </div>
</div>
