<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary">
        Calculate Top N
      </div>
      <div class="card-body text-center" *ngIf="study === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="study !== undefined">
        <label>Id:</label> {{study.id}}
        <br/>
        <label>Name:</label> {{study.name}}
        <br/>
        <br/>
        <form [formGroup]="form" novalidate>
            <div class="form-group">
              <label>Id:</label> {{study.id}}
              <br/>
              <label>Name:</label> {{study.name}}
            </div>
            <div class="form-group">
              <label class="col-md-4">Issue Tracker Connection:</label>
              <select class="form-control" formControlName="issueTrackerConnectionId" #issueTrackerConnectionId>
                <option *ngFor="let itc of study.issueTrackerConnections" value="{{itc.id}}">
                    {{itc.name}}
                </option>
              </select>
            </div>
            <div *ngIf="form.controls['issueTrackerConnectionId'].invalid && (form.controls['issueTrackerConnectionId'].dirty || form.controls['issueTrackerConnectionId'].touched)" class="alert alert-danger">
              <div *ngIf="form.controls['issueTrackerConnectionId'].errors.required">
                Issue Tracker Connection is required.
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4">Source Connection</label>
              <select class="form-control" formControlName="sourceConnectionId" #sourceConnectionId>
                <option *ngFor="let sc of study.sourceConnections" value="{{sc.id}}">
                    {{ sc.name }}
                </option>
              </select>
            </div>
            <div *ngIf="form.controls['sourceConnectionId'].invalid && (form.controls['sourceConnectionId'].dirty || form.controls['sourceConnectionId'].touched)" class="alert alert-danger">
              <div *ngIf="form.controls['sourceConnectionId'].errors.required">
                Source Connection is required.
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4">File Extensions:</label>
              <input type="text" class="form-control" formControlName="fileExtensions" #fileExtensions />
            </div>
            <div *ngIf="form.controls['fileExtensions'].invalid && (form.controls['fileExtensions'].dirty || form.controls['fileExtensions'].touched)"
              class="alert alert-danger">
              <div *ngIf="form.controls['fileExtensions'].errors.required">
                File Extensions is required.
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4">Source Package:</label>
              <input type="text" class="form-control" formControlName="sourcePackage" #sourcePackage />
            </div>
            <div *ngIf="form.controls['sourcePackage'].invalid && (form.controls['sourcePackage'].dirty || form.controls['sourcePackage'].touched)"
              class="alert alert-danger">
              <div *ngIf="form.controls['sourcePackage'].errors.required">
                  Source Package is required.
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4">Check if the source package is present on some reported stack trace in the issue:</label>
              <input type="checkbox" class="form-control" formControlName="checkSourcePackageInStackTrace" #checkSourcePackageInStackTrace />
            </div>
            <div class="form-group">
              <label class="col-md-4">Max. Enabled Changed Files by issue:</label>
              <input type="number" min="1" max="50" class="form-control" formControlName="maxEnabledChangedFiles" #maxEnabledChangedFiles />
            </div>
            <div *ngIf="form.controls['maxEnabledChangedFiles'].invalid && (form.controls['maxEnabledChangedFiles'].dirty || form.controls['maxEnabledChangedFiles'].touched)"
              class="alert alert-danger">
                Max. Enabled Changed Files is required (1 <= max. <= 50)
            </div>
            <div class="form-group">
              <button (click)="calculate()" [disabled]="form.pristine || form.invalid" class="btn btn-primary">Calculate</button>
            </div>
        </form>
        <br/>
        <div class="card" *ngIf="studyResult !== undefined">
          <div class="card-header">
            <strong>Study Result </strong>
          </div>
          <p-table #scdt [value]="studyResult.statsTopNs" sortField="issueIdentifier" [responsive]="true" class="table table-hover"
            dataKey="issueIdentifier" expandableRows="true">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 3em"></th>
                <th [pSortableColumn]="'issueIdentifier'" style="width: 5em;">
                  Issue
                  <p-sortIcon [field]="'issueIdentifier'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'changedFiles.lenght'" style="width: 9em;">
                  Changed Files
                  <p-sortIcon [field]="'changedFiles.lenght'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'logGroupId'">
                  Log Group
                  <p-sortIcon [field]="'logGroupId'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'logGroupElementsCount'">
                    Num Logs
                    <p-sortIcon [field]="'logGroupElementsCount'"></p-sortIcon>
                  </th>
                <th [pSortableColumn]="'numChangedFilesInTop1'" title='nº changed files present in Top 1 suspicious files'>
                  Top 1
                  <p-sortIcon [field]="'numChangedFilesInTop1'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'numChangedFilesInTop3'" title='nº changed files present in Top 3 suspicious files'>
                  Top 3
                  <p-sortIcon [field]="'numChangedFilesInTop3'" ></p-sortIcon>
                </th>
                <th [pSortableColumn]="'numChangedFilesInTop5'" title='nº changed files present in Top 5 suspicious files'>
                  Top 5
                  <p-sortIcon [field]="'numChangedFilesInTop5'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'numChangedFilesInTop10'" title='nº changed files present in Top 10 suspicious files'>
                  Top 10
                  <p-sortIcon [field]="'numChangedFilesInTop10'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'numSourceOnlyChangedFilesInTop1'" title='nº changed files present in Top 1 suspicious files considering only application source code package files'>
                  Top S 1
                  <p-sortIcon [field]="'numSourceOnlyChangedFilesInTop1'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'numSourceOnlyChangedFilesInTop3'" title='nº changed files present in Top 3 suspicious files considering only application source code package files'>
                  Top S 3
                  <p-sortIcon [field]="'numSourceOnlyChangedFilesInTop3'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'numSourceOnlyChangedFilesInTop5'" title='nº changed files present in Top 5 suspicious files considering only application source code package files'>
                  Top S 5
                  <p-sortIcon [field]="'numSourceOnlyChangedFilesInTop5'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'numSourceOnlyChangedFilesInTop10'" title='nº changed files present in Top 5 suspicious files considering only application source code package files'>
                  Top S 10
                  <p-sortIcon [field]="'numSourceOnlyChangedFilesInTop10'"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-statsTopN let-expanded>
              <tr>
                <td>
                  <a href="#" [pRowToggler]="statsTopN">
                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                  </a>
                </td>
                <td>{{statsTopN.issueIdentifier}}</td>
                <td>{{statsTopN.changedFiles.length}}</td>
                <td>{{statsTopN.logGroupId}}</td>
                <td>{{statsTopN.logGroupElementsCount}}</td>
                <td>{{statsTopN.numChangedFilesInTop1}}</td>
                <td>{{statsTopN.numChangedFilesInTop3}}</td>
                <td>{{statsTopN.numChangedFilesInTop5}}</td>
                <td>{{statsTopN.numChangedFilesInTop10}}</td>
                <td>{{statsTopN.numSourceOnlyChangedFilesInTop1}}</td>
                <td>{{statsTopN.numSourceOnlyChangedFilesInTop3}}</td>
                <td>{{statsTopN.numSourceOnlyChangedFilesInTop5}}</td>
                <td>{{statsTopN.numSourceOnlyChangedFilesInTop10}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-statsTopN>
              <tr>
                <td [attr.colspan]="5">
                  <div class="ui-g ui-fluid" style="padding:5px">
                    <p-table #dt2 [value]="statsTopN.changedFiles" [responsive]="true" class="table table-hover">
                      <ng-template pTemplate="header">
                        <tr>
                          <th>
                            Changed File
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-changedFile>
                        <tr class="suspicious-file-{{changedFileInSuspiciousFile(changedFile, statsTopN)?'found':'notfound'}}">
                          <td>
                            {{changedFile}}
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </td>
                <td [attr.colspan]="4">
                    <div class="ui-g ui-fluid" style="padding:5px">
                      <p-table #dt3 [value]="statsTopN.top10" sortField="score" sortOrder="-1" [responsive]="true" class="table table-hover">
                        <ng-template pTemplate="header">
                          <tr>
                            <th>
                              Top 10
                            </th>
                            <th style="width: 7em;">
                              Score
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-suspFile>
                          <tr class="suspicious-file-{{suspiciousFileFound(statsTopN, suspFile)?'found':'notfound'}}">
                            <td>
                              {{suspFile.name}}
                            </td>
                            <td>
                              {{suspFile.score | number : '1.2'}}
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </td>
                  <td [attr.colspan]="4">
                    <div class="ui-g ui-fluid" style="padding:5px">
                      <p-table #dt4 [value]="statsTopN.sourceOnlyTop10" sortField="score" sortOrder="-1"  [responsive]="true" class="table table-hover">
                        <ng-template pTemplate="header">
                          <tr>
                            <th>
                              Source Only Top 10
                            </th>
                            <th style="width: 7em;">
                              Score
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-suspFile>
                          <tr class="suspicious-file-{{suspiciousFileFound(statsTopN, suspFile)?'found':'notfound'}}">
                            <td>
                              {{suspFile.name}}
                            </td>
                            <td>
                              {{suspFile.score | number : '1.2'}}
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td></td>
                <td></td>
                <td class="text-right" title="nº changed files">{{studyResult.numBuggyFiles}}</td>
                <td></td>
                <td></td>
                <td title='nº changed files present in Top 1 suspicious files'>{{studyResult.numChangedFilesInTop1}}</td>
                <td title='nº changed files present in Top 3 suspicious files'>{{studyResult.numChangedFilesInTop3}}</td>
                <td title='nº changed files present in Top 5 suspicious files'>{{studyResult.numChangedFilesInTop5}}</td>
                <td title='nº changed files present in Top 10 suspicious files'>{{studyResult.numChangedFilesInTop10}}</td>
                <td title='nº changed files present in Top 1 suspicious files'>{{studyResult.numSourceOnlyChangedFilesInTop1}}</td>
                <td title='nº changed files present in Top 3 suspicious files'>{{studyResult.numSourceOnlyChangedFilesInTop3}}</td>
                <td title='nº changed files present in Top 5 suspicious files'>{{studyResult.numSourceOnlyChangedFilesInTop5}}</td>
                <td title='nº changed files present in Top 10 suspicious files'>{{studyResult.numSourceOnlyChangedFilesInTop10}}</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td class="text-right" title="nº distinct changed files">{{studyResult.numDistinctBuggyFiles}}</td>
                <td></td>
                <td></td>
                <td title='nº distinct changed files present in Top 1 suspicious files'>{{studyResult.numDistinctChangedFilesInTop1}}</td>
                <td title='nº distinct changed files present in Top 3 suspicious files'>{{studyResult.numDistinctChangedFilesInTop3}}</td>
                <td title='nº distinct changed files present in Top 5 suspicious files'>{{studyResult.numDistinctChangedFilesInTop5}}</td>
                <td title='nº distinct changed files present in Top 10 suspicious files'>{{studyResult.numDistinctChangedFilesInTop10}}</td>
                <td title='nº distinct changed files present in Top 1 suspicious files'>{{studyResult.numDistinctSourceOnlyChangedFilesInTop1}}</td>
                <td title='nº distinct changed files present in Top 3 suspicious files'>{{studyResult.numDistinctSourceOnlyChangedFilesInTop3}}</td>
                <td title='nº distinct changed files present in Top 5 suspicious files'>{{studyResult.numDistinctSourceOnlyChangedFilesInTop5}}</td>
                <td title='nº distinct changed files present in Top 10 suspicious files'>{{studyResult.numDistinctSourceOnlyChangedFilesInTop10}}</td>
              </tr>
              <tr>
                <td></td>
                <td class="text-right" title='nª pairs [Issue,LogGroup]'>{{studyResult.statsTopNs.length}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td title='nº pairs with at least one file present in Top 1 suspicious files'>{{studyResult.numPairsLeastOneChangedFileTop1}}</td>
                <td title='nº pairs with at least one file present in Top 3 suspicious files'>{{studyResult.numPairsLeastOneChangedFileTop3}}</td>
                <td title='nº pairs with at least one file present in Top 5 suspicious files'>{{studyResult.numPairsLeastOneChangedFileTop5}}</td>
                <td title='nº pairs with at least one file present in Top 10 suspicious files'>{{studyResult.numPairsLeastOneChangedFileTop10}}</td>
                <td title='nº pairs with at least one file present in Top 1 suspicious files'>{{studyResult.numPairsLeastOneSourceOnlyChangedFileTop1}}</td>
                <td title='nº pairs with at least one file present in Top 3 suspicious files'>{{studyResult.numPairsLeastOneSourceOnlyChangedFileTop3}}</td>
                <td title='nº pairs with at least one file present in Top 5 suspicious files'>{{studyResult.numPairsLeastOneSourceOnlyChangedFileTop5}}</td>
                <td title='nº pairs with at least one file present in Top 10 suspicious files'>{{studyResult.numPairsLeastOneSourceOnlyChangedFileTop10}}</td>
              </tr>
              <tr>
                <td></td>
                <td class="text-right" title="nº distinct Issues">{{studyResult.numDistinctIssues}}</td>
                <td></td>
                <td class="text-right" title="nº distinct LogGroups">{{studyResult.numDistinctLogGroups}}</td>
                <td></td>
                <td title='nº distinct issues with at least one file present in Top 1 suspicious files'>{{studyResult.numIssuesLeastOneChangedFileTop1}}</td>
                <td title='nº distinct issues with at least one file present in Top 3 suspicious files'>{{studyResult.numIssuesLeastOneChangedFileTop3}}</td>
                <td title='nº distinct issues with at least one file present in Top 5 suspicious files'>{{studyResult.numIssuesLeastOneChangedFileTop5}}</td>
                <td title='nº distinct issues with at least one file present in Top 10 suspicious files'>{{studyResult.numIssuesLeastOneChangedFileTop10}}</td>
                <td title='nº distinct issues with at least one file present in Top 1 suspicious files'>{{studyResult.numIssuesLeastOneSourceOnlyChangedFileTop1}}</td>
                <td title='nº distinct issues with at least one file present in Top 3 suspicious files'>{{studyResult.numIssuesLeastOneSourceOnlyChangedFileTop3}}</td>
                <td title='nº distinct issues with at least one file present in Top 5 suspicious files'>{{studyResult.numIssuesLeastOneSourceOnlyChangedFileTop5}}</td>
                <td title='nº distinct issues with at least one file present in Top 10 suspicious files'>{{studyResult.numIssuesLeastOneSourceOnlyChangedFileTop10}}</td>
              </tr>
              <tr>
                <td>--</td>
              </tr>
              <!--
              <tr>
                <td colspan="5" class="text-right" title='average of ((nº changed files present in Top N suspicious files in the log group) / (nª changed files in the issue))'><strong>k-recall</strong></td>
                <td>{{studyResult.kRecall1 | percent : '1.2'}}</td>
                <td>{{studyResult.kRecall3 | percent : '1.2'}}</td>
                <td>{{studyResult.kRecall5 | percent : '1.2'}}</td>
                <td>{{studyResult.kRecall10 | percent : '1.2'}}</td>
                <td>{{studyResult.kRecallSourceOnly1 | percent : '1.2'}}</td>
                <td>{{studyResult.kRecallSourceOnly3 | percent : '1.2'}}</td>
                <td>{{studyResult.kRecallSourceOnly5 | percent : '1.2'}}</td>
                <td>{{studyResult.kRecallSourceOnly10 | percent : '1.2'}}</td>
              </tr>
              <tr>
                <td colspan="5" class="text-right" title='avarage of ((nº changed files present in Top N suspicious files in the log group) / min (k, nº suspicious files in the log group))'><strong>k-precision</strong></td>
                <td>{{studyResult.kPrecision1 | percent : '1.2'}}</td>
                <td>{{studyResult.kPrecision3 | percent : '1.2'}}</td>
                <td>{{studyResult.kPrecision5 | percent : '1.2'}}</td>
                <td>{{studyResult.kPrecision10 | percent : '1.2'}}</td>
                <td>{{studyResult.kPrecisionSourceOnly1 | percent : '1.2'}}</td>
                <td>{{studyResult.kPrecisionSourceOnly3 | percent : '1.2'}}</td>
                <td>{{studyResult.kPrecisionSourceOnly5 | percent : '1.2'}}</td>
                <td>{{studyResult.kPrecisionSourceOnly10 | percent : '1.2'}}</td>
              </tr>
              <tr>
                <td>--</td>
              </tr>
              -->
              <tr>
                <td colspan="5" class="text-right" title='(nº pairs with at least one file present in Top N suspicious files) / (nª pairs [Issue,LogGroup])'><strong>Recall@N</strong></td>
                <td>{{studyResult.recallN1 | percent : '1.2'}}</td>
                <td>{{studyResult.recallN3 | percent : '1.2'}}</td>
                <td>{{studyResult.recallN5 | percent : '1.2'}}</td>
                <td>{{studyResult.recallN10 | percent : '1.2'}}</td>
                <td>{{studyResult.recallNSourceOnly1 | percent : '1.2'}}</td>
                <td>{{studyResult.recallNSourceOnly3 | percent : '1.2'}}</td>
                <td>{{studyResult.recallNSourceOnly5 | percent : '1.2'}}</td>
                <td>{{studyResult.recallNSourceOnly10 | percent : '1.2'}}</td>
              </tr>
              <tr>
                <td colspan="5" class="text-right" title="(SUM q=1->|Q| of AveP(q)) / |Q|, Q=nº queries=nº pairs[Issue,LogGroup]; AveP(q) = average precision of q=average precision of pair[Issue,LogGroup]"><strong>Mean Average Precision (MAP)</strong></td>
                <td>{{studyResult.meanAveragePrecision1 | percent : '1.2'}}</td>
                <td>{{studyResult.meanAveragePrecision3 | percent : '1.2'}}</td>
                <td>{{studyResult.meanAveragePrecision5 | percent : '1.2'}}</td>
                <td>{{studyResult.meanAveragePrecision10 | percent : '1.2'}}</td>
                <td>{{studyResult.meanAveragePrecisionSourceOnly1 | percent : '1.2'}}</td>
                <td>{{studyResult.meanAveragePrecisionSourceOnly3 | percent : '1.2'}}</td>
                <td>{{studyResult.meanAveragePrecisionSourceOnly5 | percent : '1.2'}}</td>
                <td>{{studyResult.meanAveragePrecisionSourceOnly10 | percent : '1.2'}}</td>
              </tr>
              <!--
              <tr>
                <td>--</td>
              </tr>
              <tr>
                <td colspan="5" class="text-right" title='(nº changed files present in Top N suspicious files) / (nª changed files)'><strong>recall</strong></td>
                <td>{{studyResult.recall1 | percent : '1.2'}}</td>
                <td>{{studyResult.recall3 | percent : '1.2'}}</td>
                <td>{{studyResult.recall5 | percent : '1.2'}}</td>
                <td>{{studyResult.recall10 | percent : '1.2'}}</td>
                <td>{{studyResult.recallSourceOnly1 | percent : '1.2'}}</td>
                <td>{{studyResult.recallSourceOnly3 | percent : '1.2'}}</td>
                <td>{{studyResult.recallSourceOnly5 | percent : '1.2'}}</td>
                <td>{{studyResult.recallSourceOnly10 | percent : '1.2'}}</td>
              </tr>
              <tr>
                <td colspan="5" class="text-right" title='(nº changed files present in Top N suspicious files) / (nª suspicious files in Top N)'><strong>precision</strong></td>
                <td>{{studyResult.precision1 | percent : '1.2'}}</td>
                <td>{{studyResult.precision3 | percent : '1.2'}}</td>
                <td>{{studyResult.precision5 | percent : '1.2'}}</td>
                <td>{{studyResult.precision10 | percent : '1.2'}}</td>
                <td>{{studyResult.precisionSourceOnly1 | percent : '1.2'}}</td>
                <td>{{studyResult.precisionSourceOnly3 | percent : '1.2'}}</td>
                <td>{{studyResult.precisionSourceOnly5 | percent : '1.2'}}</td>
                <td>{{studyResult.precisionSourceOnly10 | percent : '1.2'}}</td>
              </tr>
              <tr>
                <td>--</td>
              </tr>
              <tr>
                <td colspan="5" class="text-right" title='(nº distinct issues with at least one file present in Top N suspicious files) / (nª distinct issues)'><strong>%</strong></td>
                <td>{{studyResult.numIssuesLeastOneChangedFileTop1 / studyResult.numDistinctIssues | percent : '1.2'}}</td>
                <td>{{studyResult.numIssuesLeastOneChangedFileTop3 / studyResult.numDistinctIssues | percent : '1.2'}}</td>
                <td>{{studyResult.numIssuesLeastOneChangedFileTop5 / studyResult.numDistinctIssues | percent : '1.2'}}</td>
                <td>{{studyResult.numIssuesLeastOneChangedFileTop10 / studyResult.numDistinctIssues | percent : '1.2'}}</td>
                <td>{{studyResult.numIssuesLeastOneSourceOnlyChangedFileTop1 / studyResult.numDistinctIssues | percent : '1.2'}}</td>
                <td>{{studyResult.numIssuesLeastOneSourceOnlyChangedFileTop3 / studyResult.numDistinctIssues | percent : '1.2'}}</td>
                <td>{{studyResult.numIssuesLeastOneSourceOnlyChangedFileTop5 / studyResult.numDistinctIssues | percent : '1.2'}}</td>
                <td>{{studyResult.numIssuesLeastOneSourceOnlyChangedFileTop10 / studyResult.numDistinctIssues | percent : '1.2'}}</td>
              </tr>
            -->
            </ng-template>
          </p-table>
          <div style='margin: 15px'><strong>Legend:</strong></div>
          <ul>
            <li><strong>Top N: </strong> nº changed files present in Top N suspicious files in the log group</li>
            <li><strong>Top S N: </strong> nº changed files present in Top N suspicious files in the log group considering only application source code package files</li>
            <!--
            <li><strong>k-recall: </strong> average of ((nº changed files present in Top N suspicious files in the log group) / (nª changed files in the issue))</li>
            <li><strong>k-precision: </strong> average of ((nº changed files present in Top N suspicious files in the log group) / (nª changed files in the issue))</li>
            -->
            <li><strong>Recall@N: </strong> (nº pairs with at least one file present in Top N suspicious files) / (nª pairs [Issue,LogGroup])</li>
            <li><strong>MAP: </strong>(SUM q=1->|Q| of AveP(q)) / |Q|, Q=nº queries=nº pairs[Issue,LogGroup]; AveP(q) = average precision of q=average precision of pair[Issue,LogGroup]</li>
            <!--
            <li><strong>precision: </strong> (nº changed files present in Top N suspicious files) / (nª suspicious files in Top N)</li>
            <li><strong>recall: </strong> (nº changed files present in Top N suspicious files) / (nª changed files)</li>
            <li><strong>precision: </strong> (nº changed files present in Top N suspicious files) / (nª suspicious files in Top N)</li>
            -->
          </ul>




          <div>
            <h1>Called Methods of Finded Files</h1><br/>
            <p-table #dt [value]="studyResult.statsFindedFiles" sortField="issueIdentifier" sortOrder="-1" [responsive]="true" class="table table-hover">
              <ng-template pTemplate="header">
                <tr>
                    <th [pSortableColumn]="'issueIdentifier'" style="width: 5em;">
                        Issue
                        <p-sortIcon [field]="'issueIdentifier'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'logGroupId'" style="width: 5em;">
                        Log Group
                        <p-sortIcon [field]="'logGroupId'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'file'">
                      File
                      <p-sortIcon [field]="'file'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'findedMethodsCount'" style="width: 5em;">
                      Founds
                      <p-sortIcon [field]="'findedMethodsCount'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'calledMethods.length'" style="width: 5em;">
                      Calleds
                      <p-sortIcon [field]="'calledMethods.length'"></p-sortIcon>
                    </th>
                    <th>
                      Methods
                    </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-findedFile>
                <tr title="{{findedFile.issueNotes}}">
                  <td>{{findedFile.issueIdentifier}}</td>
                  <td>{{findedFile.logGroupId}}</td>
                  <td>{{findedFile.file}}</td>
                  <td>{{findedFile.findedMethodsCount}}</td>
                  <td>{{findedFile.calledMethods.length}}</td>
                  <td>
                    <p *ngFor="let method of findedFile.calledMethods" class="suspicious-file-{{method.found?'found':'notfound'}}">
                      {{method.name}} - {{method.numberOfCalls}}x
                    </p>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
      </div>
    </div>
  </div>
</div>
