<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary" *ngIf="id == undefined">
        Create Log Source
      </div>
      <div class="card-header urupema-card-header-primary" *ngIf="id">
        Update Log Source
      </div>
      <div class="card-body text-center" *ngIf="sourceTypes === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="sourceTypes !== undefined">
        <form [formGroup]="sourceForm" novalidate>
          <div class="form-group">
            <label class="col-md-4">Log Source Type:</label>
            <select class="form-control" formControlName="sourceTypeId" #sourceTypeId>
              <option *ngFor="let sourceType of sourceTypes"
                value="{{sourceType.id}}"
                [selected]="sourceForm.controls['sourceTypeId'].value == sourceType.id">
                  {{sourceType.name}}
              </option>
            </select>
          </div>
          <div *ngIf="sourceForm.controls['sourceTypeId'].invalid && (sourceForm.controls['sourceTypeId'].dirty || sourceForm.controls['sourceTypeId'].touched)" class="alert alert-danger">
            <div *ngIf="sourceForm.controls['sourceTypeId'].errors.required">
              Log Source Type is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Name:</label>
            <input type="text" class="form-control" formControlName="name" #name />
          </div>
          <div *ngIf="sourceForm.controls['name'].invalid && (sourceForm.controls['name'].dirty || sourceForm.controls['name'].touched)" class="alert alert-danger">
            <div *ngIf="sourceForm.controls['name'].errors.required">
              Name is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Url Connection:</label>
            <input type="text" class="form-control" formControlName="urlConnection" #urlConnection />
          </div>
          <div *ngIf="sourceForm.controls['urlConnection'].invalid && (sourceForm.controls['urlConnection'].dirty || sourceForm.controls['urlConnection'].touched)" class="alert alert-danger">
            <div *ngIf="sourceForm.controls['urlConnection'].errors.required">
              URL Connection is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Username:</label>
            <input type="text" class="form-control" formControlName="userName" #userName />
          </div>
          <div class="form-group">
            <label class="col-md-4">Password:</label>
            <input type="password" class="form-control" formControlName="password" #password />
          </div>
          <div class="form-group">
            <label class="col-md-4">Access Index Name:</label>
            <input type="text" class="form-control" formControlName="accessIndexName" #accessIndexName />
          </div>
          <div class="form-group">
            <label class="col-md-4">Access Document Type:</label>
            <input type="text" class="form-control" formControlName="accessDocumentType" #accessDocumentType />
          </div>
          <div class="form-group">
            <label class="col-md-4">Execution Index Name:</label>
            <input type="text" class="form-control" formControlName="executionIndexName" #executionIndexName />
          </div>
          <div class="form-group">
            <label class="col-md-4">Execution Document Type:</label>
            <input type="text" class="form-control" formControlName="executionDocumentType" #executionDocumentType />
          </div>
          <div class="form-group">
            <label class="col-md-4">Error Index Name:</label>
            <input type="text" class="form-control" formControlName="errorIndexName" #errorIndexName />
          </div>
          <div class="form-group">
            <label class="col-md-4">Error Document Type:</label>
            <input type="text" class="form-control" formControlName="errorDocumentType" #errorDocumentType />
          </div>
          <div class="form-group" *ngIf="id == undefined">
            <button (click)="create()" [disabled]="sourceForm.pristine || sourceForm.invalid" class="btn btn-primary">Add</button>
          </div>
          <div class="form-group" *ngIf="id">
            <button (click)="update()" [disabled]="sourceForm.pristine || sourceForm.invalid" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
