<div *ngIf="issueTrackerConnection !== undefined">
    <label>Name:</label>
    <a routerLink="/issuetrackerconnection/listissues/{{issueTrackerConnection.id}}" title="List Issues">
      {{issueTrackerConnection.name}}
    </a>
    <br/>
    <br/>
    <label>Issue Tracker Type:</label> {{issueTrackerConnection.issueTrackerTypeId}}
    <br/>
    <label>Start:</label> {{issueTrackerConnection.startDate | date: 'short'}}
    <br/>
    <label>End:</label> {{issueTrackerConnection.endDate | date: 'short'}}
    <br/>
</div>
