<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary">
        Log Source <a routerLink="/source/create" title="Add Source"><fa-icon icon="plus"></fa-icon></a>
      </div>
      <div class="card-body text-center" *ngIf="sources === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="sources !== undefined">
        <p-table #dt [value]="sources" [responsive]="true" class="table table-hover">
          <ng-template pTemplate="header">
            <tr>
              <th [pSortableColumn]="'id'" style="width: 4em;">
                Id
                <p-sortIcon [field]="'id'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'name'">
                Name
                <p-sortIcon [field]="'name'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'sourceTypeId'">
                Source Type Id
                <p-sortIcon [field]="'sourceTypeId'"></p-sortIcon>
              </th>
              <th>URL Connection</th>
              <th style="width: 5em;"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-source>
            <tr>
              <td>{{source.id}}</td>
              <td>{{source.name}}</td>
              <td>{{source.sourceTypeId}}</td>
              <td>{{source.urlConnection}}</td>
              <td class="text-right">
                <a routerLink="/source/create/{{source.id}}" title="Edit Source">
                  <fa-icon icon="pencil-alt"></fa-icon>
                </a>
                <a routerLink="/source/list" (click)="deleteSource(source)" title="Remove Source">
                  <fa-icon icon="trash"></fa-icon>
                </a>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
