<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary">
        Urupema
      </div>
      <div class="card-body text-center">
          Urupema is a Log Analysis Platform
      </div>
    </div>
  </div>
</div>
