<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary">
        Group Correlator Summary
      </div>
      <div class="card-body text-center" *ngIf="rows === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="rows !== undefined">
        <br/>
        <div class="card">
          <p-table #dt [columns]="cols" [value]="rows" class="table table-hover">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th rowspan="2" style="width: 32%" [pSortableColumn]="'uri'">
                  URI
                  <p-sortIcon [field]="'uri'"></p-sortIcon>
                </th>
                <th colspan="4" *ngFor="let sc of groupCorrelatorCols">{{sc.header}}</th>
                <th colspan="4">Both</th>
              </tr>
              <tr>
                <ng-container *ngFor="let sc of groupCorrelatorCols">
                  <th colspan="2">Origin</th>
                  <th colspan="2">Destiny</th>
                </ng-container>
                <th colspan="2">Origin</th>
                <th colspan="2">Destiny</th>
              </tr>
              <tr>
                <ng-container *ngFor="let col of columns">
                  <th *ngIf="col.field === 'uri'" class="th-{{col.field}} text-right">
                    <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                  </th>
                  <th *ngIf="col.field !== 'uri'" [pSortableColumn]="col.field" class="th-{{col.field}} text-right">
                    {{col.header}}
                    <p-sortIcon [field]="col.field" *ngIf="col.field !== 'uri'"></p-sortIcon>
                  </th>
                </ng-container>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td *ngFor="let col of columns" class="td-{{col.field}} text-right">
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer" let-columns>
              <tr>
                <td *ngFor="let col of columns" class="text-right">
                  {{rowTotal[col.field]}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div *ngFor="let g of getGroupsCorrelators()">
          <input type="checkbox" (click)="toogleGcSelected(g.id)" [checked]="gcIsSelected(g.id)" />
          {{g.name}}
        </div>
      </div>
    </div>
  </div>
</div>
