<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary">
        Log Group - Suspicious Files
      </div>
      <div class="card-body text-center" *ngIf="suspiciousFiles === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="suspiciousFiles !== undefined">
        <div *ngIf="logGroup !== undefined">
          <label>Id:</label> {{logGroup.id}}
          <br/>
          <label>Type Description:</label> {{logGroup.typeDescription}}
          <br/>
          <label>Occurrence:</label> {{logGroup.firstOccurrenceDate | date: 'short'}} - {{logGroup.lastOccurrenceDate | date: 'short'}}
          <br/>
          <label>Subgroups:</label> {{logGroup.subGroupsCount}}
          <br/>
          <label>Elements count:</label> {{logGroup.elementsCount}}
          <br/>
          <label>Representant Id:</label> {{logGroup.representantId}}
        </div>
        <br/>
        <br/>
        <div class="card">
          <div class="card-header">
            <strong>Suspicious Files </strong>
          </div>
          <p-table #dt [value]="suspiciousFiles" sortField="score" sortOrder="-1" [responsive]="true" class="table table-hover" dataKey="name"
            expandableRows="true" (onRowExpand)="fillCalledFileMethodsByLogGroupIdAndFileName($event)">
            <ng-template pTemplate="header">
              <tr>
                  <th style="width: 3em"></th>
                  <th [pSortableColumn]="'name'">
                    Name
                    <p-sortIcon [field]="'name'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'score'" class="text-right" style="width: 7em;" title="FF*IBF*IAD">
                    score
                    <p-sortIcon [field]="'score'"></p-sortIcon>
                  </th>
              </tr>
              <tr>
                <th></th>
                <th>
                  <input pInputText type="text" class="blurry" (input)="dt.filter($event.target.value, 'name', 'contains')" size="50">
                </th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-sf let-expanded="expanded">
              <tr class="{{sf.fileFrequency >= 100 ?'text-red':''}}">
                <td>
                  <a href="#" [pRowToggler]="sf">
                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                  </a>
                </td>
                <td class="blurry">
                  {{sf.name}}
                </td>
                <td class="text-right" title="{{sf.fileFrequency | number : '1.2'}} * {{sf.inverseBucketFrequency | number : '1.2'}} * {{sf.inverseAverageDistanceToCrashPoint | number : '1.2'}}">{{sf.score | number : '1.2'}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-sf>
              <tr>
                <td [attr.colspan]="3">
                  <div class="ui-g ui-fluid" style="padding:20px">
                    <p-table #dt2 [value]="calledFileMethodsByLogGroupIdAndFileName(sf)" sortField="count" sortOrder="-1"
                      [responsive]="true" class="table table-hover"
                      dataKey="qualifiedMethodName" expandableRows="true">
                      <ng-template pTemplate="header">
                        <tr>
                          <th style="width: 3em"></th>
                          <th [pSortableColumn]="'qualifiedMethodName'">
                            Method Name
                          </th>
                          <th [pSortableColumn]="'count'" style="width: 7em;">
                            Count
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-method let-expanded2="expanded">
                        <tr>
                          <td>
                            <a href="#" [pRowToggler]="method">
                              <i [ngClass]="expanded2 ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                            </a>
                          </td>
                          <td class="blurry">
                            {{method.qualifiedMethodName}}
                          </td>
                          <td class="text-right">
                            {{method.count}}
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="rowexpansion" let-method>
                          <tr>
                            <td [attr.colspan]="3">
                              <div class="ui-g ui-fluid" style="padding:20px">
                                <p-table #dt3 [value]="method.lineNumbersStats" sortField="count" sortOrder="-1"
                                  [responsive]="true" class="table table-hover">
                                  <ng-template pTemplate="header">
                                    <tr>
                                      <th [pSortableColumn]="'lineNumber'">
                                        Line Number
                                      </th>
                                      <th [pSortableColumn]="'count'" style="width: 7em;">
                                        Count
                                      </th>
                                    </tr>
                                  </ng-template>
                                  <ng-template pTemplate="body" let-lineNumberStats>
                                    <tr>
                                      <td>
                                        {{lineNumberStats.lineNumber}}
                                      </td>
                                      <td class="text-right">
                                        {{lineNumberStats.count}}
                                      </td>
                                    </tr>
                                  </ng-template>
                                </p-table>
                              </div>
                            </td>
                          </tr>
                        </ng-template>
                    </p-table>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
          File Frequency (FF): FF(f, B) = NfB / NB <br/>
          Inverse Bucket Frequency (IBF): IBF(f) = log ((#B/#Bf) + 1)<br/>
          Inverse Average Distance to Crash Point (IADCP): IADCP(f,B) = 1/(1 + SOMATORIO(DCPj(f)/n)), DCPj(f) -> minimum distance between the frame f and the crash point <br/>
        </div>
      </div>
    </div>
  </div>
</div>
