<p-table #dt [value]="urisStats" sortField="count" sortOrder="-1" [responsive]="true" class="table table-hover" expandableRows="true" dataKey="uri">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3em"></th>
      <th [pSortableColumn]="'uri'">
        URI
        <p-sortIcon [field]="'uri'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'count'" style="width: 7em;">
        Count
        <p-sortIcon [field]="'count'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'usersStats.length'" style="width: 7em;">
        Users
        <p-sortIcon [field]="'usersStats.length'"></p-sortIcon>
      </th>
    </tr>
    <tr>
      <th></th>
      <th>
        <input pInputText type="text" (input)="dt.filter($event.target.value, 'uri', 'contains')" size="50">
      </th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-lc let-expanded="expanded">
    <tr>
      <td>
        <a href="#" [pRowToggler]="lc">
          <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
        </a>
      </td>
      <td>{{lc.uri}}</td>
      <td class="text-right">{{lc.count}}</td>
      <td class="text-right">{{lc.usersStats.length}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-lc>
    <tr>
      <td [attr.colspan]="4">
          <div class="ui-g ui-fluid" style="padding:20px">
            <p-table #dt2 [value]="lc.usersStats" sortField="count" sortOrder="-1" [responsive]="true" class="table table-hover" [paginator]="true" [rows]="10">
                <ng-template pTemplate="header">
                  <tr>
                    <th>
                      User
                    </th>
                    <th [pSortableColumn]="'count'" style="width: 7em;">
                      Count
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                  <tr>
                    <td>
                      {{user.identifier}}
                    </td>
                    <td class="text-right">
                      {{user.count}}
                    </td>
                  </tr>
                </ng-template>
            </p-table>
          </div>
      </td>
    </tr>
  </ng-template>
</p-table>
