<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary">
        Group Correlator - Group Relashionships
      </div>
      <div class="card-body text-center" *ngIf="rows === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="rows !== undefined">
        <app-groupcorrelatordetail [groupCorrelator]="groupCorrelator">
        </app-groupcorrelatordetail>
        <br/>
        <div class="card-header">
          <strong>Group Relationships</strong>
        </div>

        <p-table #dt [columns]="cols" [value]="rows" class="table table-hover">
          <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 3em;"></th>
                <th style="width: 35%;"></th>
                <th colspan="2" style="width: 18%;">Origin Group</th>
                <th colspan="3" style="width: 35%;">Destiny Groups</th>
                <th style="width: 2em;"></th>
            </tr>
            <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="th-{{col.field}} text-right">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
              <th></th>
            </tr>
            <tr>
              <th *ngFor="let col of columns">
                <input *ngIf="col.field === 'uri'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" size="30">
                <input *ngIf="col.field === 'groupOriginId'" pInputText type="text" (input)="dt.filter($event.target.value, col.field)" size="4">
                <input *ngIf="col.field === 'relateds'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'in')" size="4">
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let col of columns" class="td-{{col.field}} text-right">
                <ng-container *ngIf="col.field !== 'groupOriginId' && col.field !== 'relateds'">
                  {{rowData[col.field]}}
                </ng-container>
                <ng-container *ngIf="col.field === 'groupOriginId'">
                  <a routerLink="/sourceconnection/loggroup/{{groupCorrelator.origin.id}}/{{rowData[col.field]}}" title="{{rowData['groupOriginLabel']}}">
                    {{rowData[col.field]}}
                  </a>
                </ng-container>
                <ng-container *ngIf="col.field === 'relateds'">
                  <a *ngFor="let related of rowData[col.field]" routerLink="/sourceconnection/loggroup/{{groupCorrelator.destiny.id}}/{{related}}" title="{{groupMap.get(related).label}}">
                    {{related}}({{groupMap.get(related).elementsCount}})
                  </a>
                </ng-container>
              </td>
              <td>
                <a routerLink="/groupcorrelator/grouprelationship/{{groupCorrelator.id}}/{{rowData['id']}}" title="Detail">
                  <fa-icon icon="search"></fa-icon>
                </a>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer" let-columns>
            <tr>
              <td *ngFor="let col of columns" class="text-right">
                {{rowTotal[col.field]}}
              </td>
              <td></td>
            </tr>
          </ng-template>
        </p-table>

        <!--
        <p-table #dt [value]="groupCorrelator.groupRelationships" sortField="id" sortOrder="-1" [responsive]="true" class="table table-hover">
          <ng-template pTemplate="header">
            <tr>
              <th rowspan="2" [pSortableColumn]="'id'" style="width: 5em;">
                Id
                <p-sortIcon [field]="'id'"></p-sortIcon>
              </th>
              <th rowspan="2" [pSortableColumn]="'group.superGroup.label'" style="width: 30%;">
                URI
                <p-sortIcon [field]="'group.superGroup.label'"></p-sortIcon>
              </th>
              <th colspan="2">Origin Group</th>
              <th colspan="3">Destiny Groups</th>
              <th rowspan="3" style="width: 2em;"></th>
            </tr>
            <tr>
              <th [pSortableColumn]="'group.id'" style="width: 5em;">
                Id
                <p-sortIcon [field]="'group.id'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'group.elementsCount'" style="width: 4em;">
                Nº Elements
                <p-sortIcon [field]="'group.elementsCount'"></p-sortIcon>
              </th>
              <th>
                Ids (nº elements)
              </th>
              <th [pSortableColumn]="'relateds.length'" style="width: 4em;">
                Related Groups
                <p-sortIcon [field]="'relateds.length'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'getRelatedsLogCount()'" style="width: 4em;">
                Total Elements
                <p-sortIcon [field]="'getRelatedsLogCount()'"></p-sortIcon>
              </th>
            </tr>
            <tr>
              <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'id')" size="5">
              </th>
              <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'group.superGroup.label', 'contains')" size="20">
              </th>
              <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'group.id')" size="5">
              </th>
              <th></th>
              <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'relateds', 'inRelateds')" size="5">
              </th>
              <th></th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-gr>
            <tr *ngIf="gr !== undefined">
              <td>{{gr.id}}</td>
              <td>{{gr.group.superGroup.label}}</td>
              <td>
                <a routerLink="/sourceconnection/loggroup/{{groupCorrelator.origin.id}}/{{gr.group.id}}" title="{{gr.group.label}}">
                  {{gr.group.id}}
                </a>
              </td>
              <td>{{gr.group.elementsCount}}</td>
              <td>
                  <a *ngFor="let related of gr.relateds" routerLink="/sourceconnection/loggroup/{{groupCorrelator.destiny.id}}/{{related.id}}" title="{{related.label}}">
                    {{related.id}}({{related.elementsCount}})
                  </a>
              </td>
              <td>
                {{gr.relateds.length}}
              </td>
              <td>{{gr.getRelatedsLogCount()}}</td>
              <td>
                <a routerLink="/groupcorrelator/grouprelationship/{{groupCorrelator.id}}/{{gr.id}}" title="Detail">
                  <fa-icon icon="search"></fa-icon>
                </a>
              </td>
            </tr>
          </ng-template>
        </p-table>-->
      </div>
    </div>
  </div>
</div>
