<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary">
        Log Group - Affected URIs
      </div>
      <div class="card-body text-center" *ngIf="urisStats === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="urisStats !== undefined">
        <label>Id:</label> {{logGroup.id}}
        <br/>
        <label>Type Description:</label> {{logGroup.typeDescription}}
        <br/>
        <label>Occurrence:</label> {{logGroup.firstOccurrenceDate | date: 'short'}} - {{logGroup.lastOccurrenceDate | date: 'short'}}
        <br/>
        <label>Subgroups:</label> {{logGroup.subGroupsCount}}
        <br/>
        <label>Elements count:</label> {{logGroup.elementsCount}}
        <br/>
        <label>Representant Id:</label> {{logGroup.representantId}}
        <br/>
        <br/>
        <div class="card">
          <div class="card-header">
            <strong>Affected URIs ({{urisStats.length}})</strong>
          </div>
          <app-tableaffectedurisandusers [urisStats]="urisStats">
          </app-tableaffectedurisandusers>
        </div>
      </div>
    </div>
  </div>
</div>
