<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary">
        Suspicious Files For All Log Groups
      </div>
      <div class="card-body text-center" *ngIf="suspiciousFiles === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="suspiciousFiles !== undefined">
        <p-tree [value]="filesTree" [filter]="true" filterBy="data" selectionMode="single" [(selection)]="selected" [style]="{'width': '100%'}"></p-tree>
        <div style="margin-top:8px">
          Selected: {{selected ? selected.data : 'none'}}
        </div>
      </div>
    </div>
  </div>
</div>
