<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary">
        Log Group - FCSFs
      </div>
      <div class="card-body text-center" *ngIf="logGroup === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="logGroup !== undefined">
        <label>Id:</label> {{logGroup.id}}
        <br/>
        <label>Type Description:</label> {{logGroup.typeDescription}}
        <br/>
        <label>Occurrence:</label> {{logGroup.firstOccurrenceDate | date: 'short'}} - {{logGroup.lastOccurrenceDate | date: 'short'}}
        <br/>
        <div class="form-group">
          <label>Label:</label><br/>
          <textarea class="urupema-textarea" rows='{{logGroup.label.split("\n").length}}' disabled="true">{{logGroup.label}}</textarea>
        </div>
        <div class="form-group" *ngFor="let info of logGroup.moreInformation | maptoiterable">
            <label>{{info.key}}: </label> {{info.value}}
            <br/>
        </div>
        <br/>
        <app-sourceconnectiondetail [sourceConnection]="sourceConnection" *ngIf="sourceConnection !== undefined">
        </app-sourceconnectiondetail>
        <br/>
        <div class="card" *ngIf="logGroup.mapFCSFs !== undefined">
          <div class="card-header">
            <strong>FCSFs ({{logGroup.mapFCSFs.size}}) </strong>
          </div>
          <p-table #dt [value]="logGroup.mapFCSFs | maptoiterable" sortField="value" sortOrder="-1" [responsive]="true" class="table table-hover">
            <ng-template pTemplate="header">
              <tr>
                <th>
                  FCSF
                </th>
                <th class="text-right" style="width: 8em;">
                  Relative support
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-fcsf>
              <tr>
                <td>
                  <textarea class="urupema-textarea" rows='{{fcsf.key.split(",").length>10?10:fcsf.key.split(",").length}}' disabled="true">{{fcsf.key.split(", ").join("\n")}}</textarea>
                </td>
                <td class="text-right">{{fcsf.value}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
