<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary" *ngIf="changedFile === undefined">
        Create Changed File
      </div>
      <div class="card-header urupema-card-header-primary" *ngIf="changedFile !== undefined && changedFile.id">
        Update Changed File
      </div>
      <div class="card-body text-center" *ngIf="revision === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="revision !== undefined">
        <form [formGroup]="changedFileForm" novalidate>
          <div class="form-group">
            <label>Id: </label> {{issue.id}} <br/>
            <label>Identifier: </label> {{issue.identifier}} <br/>
            <label>Open Date: </label> {{issue.openDate | date: 'short'}} <br/>
            <label>Close Date: </label> {{issue.closeDate | date: 'short'}} <br/>
            <label>Issue Type: </label> {{issue.issueType}} <br/>
          </div>
          <div class="form-group">
            <label>Id: </label> {{revision.id}} <br/>
            <label>Identifier: </label> {{revision.identifier}} <br/>
            <label>Date: </label> {{revision.date | date: 'short'}} <br/>
            <label>Comment: </label> {{revision.comment}} <br/>
          </div>
          <div class="form-group">
            <label class="col-md-4">File Change Type:</label>
            <select class="form-control" formControlName="fileChangeType" #fileChangeType>
              <option *ngFor="let fct of fileChangeTypes"
                value="{{fct}}"
                [selected]="changedFileForm.controls['fileChangeType'].value == fct">
                  {{fct}}
              </option>
            </select>
          </div>
          <div *ngIf="changedFileForm.controls['fileChangeType'].invalid && (changedFileForm.controls['fileChangeType'].dirty || changedFileForm.controls['fileChangeType'].touched)" class="alert alert-danger">
            <div *ngIf="changedFileForm.controls['fileChangeType'].errors.required">
              File Change Type is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Name:</label>
            <input type="textarea" class="form-control" formControlName="name" #name />
          </div>
          <div *ngIf="changedFileForm.controls['name'].invalid && (changedFileForm.controls['name'].dirty || changedFileForm.controls['name'].touched)" class="alert alert-danger">
            <div *ngIf="changedFileForm.controls['name'].errors.required">
             Name is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Enabled:</label>
            <input type="checkbox" class="form-control" formControlName="enabled" #enabled/>
          </div>
          <div *ngIf="changedFileForm.controls['enabled'].invalid && (changedFileForm.controls['enabled'].dirty || changedFileForm.controls['enabled'].touched)" class="alert alert-danger">
            <div *ngIf="changedFileForm.controls['enabled'].errors.required">
                Enabled is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Note:</label>
            <textarea
              class="form-control" formControlName="note" #note
              class="urupema-textarea"
              rows='10'></textarea>
          </div>
          <div *ngIf="changedFileForm.controls['note'].invalid && (changedFileForm.controls['note'].dirty || changedFileForm.controls['note'].touched)" class="alert alert-danger">
            <div *ngIf="changedFileForm.controls['note'].errors.required">
                Note is required.
            </div>
          </div>
          <div class="form-group" *ngIf="changedFile == undefined">
            <button (click)="create()" [disabled]="changedFileForm.pristine || changedFileForm.invalid" class="btn btn-primary">Add</button>
          </div>
          <div class="form-group" *ngIf="changedFile !== undefined && changedFile.id">
            <button (click)="update()" [disabled]="changedFileForm.pristine || changedFileForm.invalid" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
