<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary">
        Issue Tracker Connection - Issues
      </div>
      <div class="card-body text-center" *ngIf="issueTrackerConnection === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="issueTrackerConnection !== undefined">
        <app-issuetrackerconnectiondetail [issueTrackerConnection]="issueTrackerConnection">
        </app-issuetrackerconnectiondetail>
        <br/>
        <div>
          <a routerLink="/issuetrackerconnection/listissues/{{study.id}}/{{issueTrackerConnection.id}}" (click)="importIssues()" title="Import Issues">
            Import Issues
          </a>
          -
          <a routerLink="/issuetrackerconnection/listissues/{{study.id}}/{{issueTrackerConnection.id}}" (click)="impUriPanel.toggle($event,actualTarget)" title="Import Issues">
            Import Affected URIs
          </a>
          <p-overlayPanel #impUriPanel [dismissable]="true" [showCloseIcon]="true">
            <form [formGroup]="form" novalidate>
              <div class="form-group">
                <label>Source Connection to import URIs:</label>
                <select class="form-control" formControlName="sourceConnectionId" #sourceConnectionId>
                  <option *ngFor="let sc of study.sourceConnections" value="{{sc.id}}">
                    {{sc.name}}
                  </option>
                </select>
                <br/>
                <label>Filter URI fragment:</label>
                <input type="text" class="form-control" formControlName="uriFragment" #uriFragment />
                <br/>
                <span style="color: red">It will take several minutes.</span>
                <br/>
                <br/>
                <button type="text" pButton label="Send" (click)="importAffectedUris(); impUriPanel.hide();"></button>
              </div>
            </form>
          </p-overlayPanel>
          -
          <a routerLink="/issuetrackerconnection/listissues/{{study.id}}/{{issueTrackerConnection.id}}" (click)="agroupPanel.toggle($event,actualTarget)">
            Agroup Logs
          </a>
          <p-overlayPanel #agroupPanel [dismissable]="true" [showCloseIcon]="true">
            <form [formGroup]="form" novalidate>
              <div class="form-group">
                <label>Source Connection to agroup:</label>
                <select class="form-control" formControlName="sourceConnectionId" #sourceConnectionId>
                  <option *ngFor="let sc of study.sourceConnections" value="{{sc.id}}">
                    {{sc.name}}
                  </option>
                </select>
                <br/>
                <span style="color: red">It will take several minutes.</span>
                <br/>
                <br/>
                <button type="text" pButton label="Send" (click)="agroupLogs(); agroupPanel.hide();"></button>
              </div>
            </form>
          </p-overlayPanel>
          -
          <a routerLink="/issuetrackerconnection/listissues/{{study.id}}/{{issueTrackerConnection.id}}" (click)="matchPanel.toggle($event,actualTarget)">
            Match Issues with Log Groups
          </a>
          <p-overlayPanel #matchPanel [dismissable]="true" [showCloseIcon]="true">
            <form [formGroup]="form" novalidate>
              <div class="form-group">
                <label>Source Connection to match:</label>
                <select class="form-control" formControlName="sourceConnectionId" #sourceConnectionId>
                  <option *ngFor="let sc of study.sourceConnections" value="{{sc.id}}">
                    {{sc.name}}
                  </option>
                </select>
                <br/>
                <span style="color: red">It will take several minutes.</span>
                <br/>
                <br/>
                <button type="text" pButton label="Send" (click)="matchIssueWithLogGroups(); matchPanel.hide();"></button>
              </div>
            </form>
          </p-overlayPanel>
          -
          <a routerLink="/issuetrackerconnection/affecteduris/{{issueTrackerConnection.id}}" title="List Affected Uris">
            Affected URIs
          </a>
        </div>

        <div class="card" *ngIf="issueTrackerConnection.issues !== undefined">
          <div class="card-header">
            <strong>Issues ({{issueTrackerConnection.issues.length}}) </strong>
            <a routerLink="/issuetrackerconnection/issuecreate/{{issueTrackerConnection.id}}" title="Add Issue"><fa-icon icon="plus"></fa-icon></a>
          </div>
          <p-table #dt [value]="issueTrackerConnection.issues" sortField="openDate" sortOrder="1" [responsive]="true" class="table table-hover">
            <ng-template pTemplate="header">
              <tr>
                <th [pSortableColumn]="'id'" style="width: 5em;">
                  Id
                  <p-sortIcon [field]="'id'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'identifier'" style="width: 5em;">
                  Identifier
                  <p-sortIcon [field]="'identifier'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'title'">
                  Title
                  <p-sortIcon [field]="'title'" style="width: 20em;"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'openDate'" class="text-right" style="width: 7em;">
                  Open
                  <p-sortIcon [field]="'openDate'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'closeDate'" class="text-right" style="width: 7em;">
                  Close
                  <p-sortIcon [field]="'closeDate'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'issueType'" class="text-right" style="width: 8em;">
                  Type
                  <p-sortIcon [field]="'issueType'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'enabled'" class="text-right" style="width: 8em;">
                  Enabled
                  <p-sortIcon [field]="'enabled'"></p-sortIcon>
                </th>
                <th class="text-right" style="width: 8em;">
                  Enabled Changed Files
                </th>
                <th class="text-right" style="width: 8em;">
                  Enabled Stack traces
                </th>
                <th class="text-right" style="width: 8em;">
                  Enabled Affected URIs
                </th>
                <th style="width: 6em;"></th>
              </tr>
              <tr>
                <th>
                  <input pInputText type="text" (input)="dt.filter($event.target.value, 'id')" size="5">
                </th>
                <th>
                  <input pInputText type="text" (input)="dt.filter($event.target.value, 'identifier', 'contains')" size="5">
                </th>
                <th>
                  <input pInputText type="text" (input)="dt.filter($event.target.value, 'title', 'contains')" size="10">
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-issue>
              <tr title="{{issue.note}}">
                  <td>{{issue.id}}</td>
                  <td>{{issue.identifier}}</td>
                  <td>{{issue.title}}</td>
                  <td class="text-right">{{issue.openDate | date: 'short'}}</td>
                  <td class="text-right">{{issue.closeDate | date: 'short'}}</td>
                  <td class="text-right">{{issue.issueType}}</td>
                  <td class="text-right">{{issue.enabled}}</td>
                  <td class="text-right">{{issue.revisions === undefined ? '' : enabledChangedFilesCount(issue)+'/'+changedFilesCount(issue)}}</td>
                  <td class="text-right">{{issue.reportedStackTraces === undefined ? '' : enabledReportedStackTracesCount(issue)+'/'+issue.reportedStackTraces.length}}</td>
                  <td class="text-right">{{issue.reportedStackTraces === undefined ? '' : enabledAffectedUrisCount(issue)+'/'+affectedUrisCount(issue)}}</td>
                  <td class="text-right">
                    <a routerLink="/issuetrackerconnection/issuecreate/{{issueTrackerConnection.id}}/{{issue.id}}" title="Edit">
                      <fa-icon icon="pencil-alt"></fa-icon>
                    </a>
                    <a routerLink="/issuetrackerconnection/issuedetail/{{issueTrackerConnection.id}}/{{issue.id}}" title="Detail">
                      <fa-icon icon="box-open"></fa-icon>
                    </a>
                    <a routerLink="/issuetrackerconnection/revisions/{{issueTrackerConnection.id}}/{{issue.id}}" title="Revisions">
                      <fa-icon icon="bug"></fa-icon>
                    </a>
                  </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer" *ngIf='totalCalculate()'>
              <tr>
                <td colspan='7' class="text-right">TOTAL</td>
                <td class="text-right">{{totalEnabledChangedFiles}}/{{totalChangedFiles}}</td>
                <td class="text-right">{{totalEnabledStackTraces}}/{{totalStackTraces}}</td>
                <td class="text-right">{{enabledAffectedUris.size}}/{{affectedUris.size}}</td>
                <td class="text-right"></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
