<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary" *ngIf="reportedStackTrace === undefined">
        Create Reported Stack Trace
      </div>
      <div class="card-header urupema-card-header-primary" *ngIf="reportedStackTrace !== undefined && reportedStackTrace.id">
        Update Reported Stack Trace
      </div>
      <div class="card-body text-center" *ngIf="issue === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="issue !== undefined">
        <form [formGroup]="reportedStackTraceForm" novalidate>
          <div class="form-group">
            <label>Id: </label> {{issue.id}} <br/>
            <label>Identifier: </label> {{issue.identifier}} <br/>
            <label>Open Date: </label> {{issue.openDate | date: 'short'}} <br/>
            <label>Close Date: </label> {{issue.closeDate | date: 'short'}} <br/>
            <label>Issue Type: </label> {{issue.issueType}} <br/>
          </div>
          <div class="form-group">
            <label class="col-md-4">Stack trace:</label>
            <textarea
              class="form-control" formControlName="stackTrace" #stackTrace
              class="urupema-textarea"
              rows='10'></textarea>
          </div>
          <div *ngIf="reportedStackTraceForm.controls['stackTrace'].invalid && (reportedStackTraceForm.controls['stackTrace'].dirty || reportedStackTraceForm.controls['stackTrace'].touched)" class="alert alert-danger">
            <div *ngIf="reportedStackTraceForm.controls['stackTrace'].errors.required">
              Stack Trace is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Enabled:</label>
            <input type="checkbox" class="form-control" formControlName="enabled" #enabled/>
          </div>
          <div *ngIf="reportedStackTraceForm.controls['enabled'].invalid && (reportedStackTraceForm.controls['enabled'].dirty || reportedStackTraceForm.controls['enabled'].touched)" class="alert alert-danger">
            <div *ngIf="reportedStackTraceForm.controls['enabled'].errors.required">
                Enabled is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Note:</label>
            <textarea
              class="form-control" formControlName="note" #note
              class="urupema-textarea"
              rows='10'></textarea>
          </div>
          <div *ngIf="reportedStackTraceForm.controls['note'].invalid && (reportedStackTraceForm.controls['note'].dirty || reportedStackTraceForm.controls['note'].touched)" class="alert alert-danger">
            <div *ngIf="reportedStackTraceForm.controls['note'].errors.required">
                Note is required.
            </div>
          </div>
          <div class="form-group" *ngIf="reportedStackTrace == undefined">
            <button (click)="create()" [disabled]="reportedStackTraceForm.pristine || reportedStackTraceForm.invalid" class="btn btn-primary">Add</button>
          </div>
          <div class="form-group" *ngIf="reportedStackTrace !== undefined && reportedStackTrace.id">
            <button (click)="update()" [disabled]="reportedStackTraceForm.pristine || reportedStackTraceForm.invalid" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
