<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary">
        Issue Tracker Types
      </div>
      <div class="card-body text-center" *ngIf="issueTrackerTypes === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="issueTrackerTypes !== undefined">
        <p-table #dt [value]="issueTrackerTypes" [responsive]="true" class="table table-hover">
          <ng-template pTemplate="header">
            <tr>
              <th [pSortableColumn]="'id'" style="width: 15em;">
                Id
                <p-sortIcon [field]="'id'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'name'">
                Name
                <p-sortIcon [field]="'name'"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-issueTrackerType>
            <tr>
              <td>{{issueTrackerType.id}}</td>
              <td>{{issueTrackerType.name}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
