<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary">
        Study
      </div>
      <div class="card-body text-center" *ngIf="study === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="study !== undefined">
        <label>Id:</label> {{study.id}}
        <br/>
        <label>Name:</label> {{study.name}}
        <br/>
        <br/>
        <a routerLink="/study/calculatetopn/{{study.id}}" title="Calculate Top N">
          Calculate Top N
        </a>
        <br/>
        <br/>
        <div class="card">
          <div class="card-header">
            <strong>Issue Tracker Connections </strong>
            <a routerLink="/issuetrackerconnection/create/{{study.id}}/" title="Add Issue Tracker Connection">
              <fa-icon icon="plus"></fa-icon>
            </a>
          </div>
          <p-table #itcdt [value]="study.issueTrackerConnections" sortField="id" [responsive]="true" class="table table-hover">
            <ng-template pTemplate="header">
              <tr>
                <th [pSortableColumn]="'id'" style="width: 5em;">
                  Id
                  <p-sortIcon [field]="'id'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'name'">
                  Name
                  <p-sortIcon [field]="'name'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'startDate'">
                  Open
                  <p-sortIcon [field]="'startDate'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'endDate'">
                  Close
                  <p-sortIcon [field]="'endDate'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'issueTrackerSource.name'">
                  Issue Tracker Source
                  <p-sortIcon [field]="'issueTrackerSource.name'"></p-sortIcon>
                </th>
                <th style="width: 7em;"></th>
              </tr>
              <tr>
                <th>
                  <input pInputText type="text" (input)="itcdt.filter($event.target.value, 'id')" size="4">
                </th>
                <th>
                  <input pInputText type="text" (input)="itcdt.filter($event.target.value, 'name', 'contains')">
                </th>
                <th></th>
                <th></th>
                <th>
                  <input pInputText type="text" (input)="itcdt.filter($event.target.value, 'issueTrackerTypeId', 'contains')">
                </th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-itc>
              <tr>
                <td>{{itc.id}}</td>
                <td>{{itc.name}}</td>
                <td>{{itc.startDate | date: 'short'}}</td>
                <td>{{itc.endDate | date: 'short'}}</td>
                <td>{{itc.issueTrackerSource.name}}</td>
                <td class="text-right">
                  <a routerLink="/issuetrackerconnection/create/{{study.id}}/{{itc.id}}" title="Edit Issue Tracker Connection">
                    <fa-icon icon="pencil-alt"></fa-icon>
                  </a>
                  <a routerLink="/issuetrackerconnection/listissues/{{study.id}}/{{itc.id}}" title="View Issues">
                    <fa-icon icon="box-open"></fa-icon>
                  </a>
                  <a routerLink="/study/detail/{{study.id}}" (click)="deleteIssueTrackerConnection(itc)" title="Remove Issue Tracker Connection">
                    <fa-icon icon="trash"></fa-icon>
                  </a>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <br/>
        <div class="card">
          <div class="card-header">
            <strong>Log Source Connections </strong>
            <a routerLink="/sourceconnection/create/{{study.id}}/" title="Add Source Connection">
              <fa-icon icon="plus"></fa-icon>
            </a>
            <a routerLink="/study/sourceconnectionsummary/{{study.id}}/" title="Source Connection Summary">
              <fa-icon icon="table"></fa-icon>
            </a>
          </div>
          <p-table #scdt [value]="study.sourceConnections" sortField="id" [responsive]="true" class="table table-hover">
            <ng-template pTemplate="header">
              <tr>
                <th [pSortableColumn]="'id'" style="width: 5em;">
                  Id
                  <p-sortIcon [field]="'id'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'name'">
                  Name
                  <p-sortIcon [field]="'name'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'source.name'">
                  Log Source
                  <p-sortIcon [field]="'source.name'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'startDate'">
                  Start
                  <p-sortIcon [field]="'startDate'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'endDate'">
                  End
                  <p-sortIcon [field]="'endDate'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'groupAggregatorTypeId'">
                  Group Aggregator Type
                  <p-sortIcon [field]="'groupAggregatorTypeId'"></p-sortIcon>
                </th>
                <th style="width: 7em;"></th>
              </tr>
              <tr>
                <th>
                  <input pInputText type="text" (input)="scdt.filter($event.target.value, 'id')" size="4">
                </th>
                <th>
                  <input pInputText type="text" (input)="scdt.filter($event.target.value, 'name', 'contains')">
                </th>
                <th>
                  <input pInputText type="text" (input)="scdt.filter($event.target.value, 'source.name', 'contains')">
                </th>
                <th></th>
                <th></th>
                <th>
                  <input pInputText type="text" (input)="scdt.filter($event.target.value, 'groupAggregatorTypeId', 'contains')">
                </th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-sc>
              <tr>
                <td>{{sc.id}}</td>
                <td>{{sc.name}}</td>
                <td>{{sc.source.name}}</td>
                <td>{{sc.startDate | date: 'short'}}</td>
                <td>{{sc.endDate | date: 'short'}}</td>
                <td>{{sc.groupAggregatorTypeId}}</td>
                <td class="text-right">
                  <a routerLink="/sourceconnection/create/{{study.id}}/{{sc.id}}" title="Edit Source Connection">
                    <fa-icon icon="pencil-alt"></fa-icon>
                  </a>
                  <a routerLink="/sourceconnection/logcount/{{sc.id}}" title="Count by URI">
                    <fa-icon icon="list-ol"></fa-icon>
                  </a>
                  <a routerLink="/sourceconnection/listloggroups/{{sc.id}}" title="View Groups" *ngIf="sc.groupAggregatorTypeId !== 'NONE'">
                    <fa-icon icon="box-open"></fa-icon>
                  </a>
                  <a *ngIf="sc.groupAggregatorTypeId === 'NONE'">
                    <fa-icon icon="box-open" [inverse]='true'></fa-icon>
                  </a>
                  <a routerLink="/study/detail/{{study.id}}" (click)="deleteSourceConnection(sc)" title="Remove Source Connection">
                    <fa-icon icon="trash"></fa-icon>
                  </a>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <br/>
        <div class="card">
          <div class="card-header">
            <strong>Group Correlators </strong>
            <a routerLink="/groupcorrelator/create/{{study.id}}/">
              <fa-icon icon="plus" title="Add Group Correlator"></fa-icon>
            </a>
            <a routerLink="/study/groupcorrelatorsummary/{{study.id}}/" title="Group Correlator Summary">
              <fa-icon icon="table"></fa-icon>
            </a>
          </div>
          <p-table #gcdt [value]="study.groupCorrelators" sortField="id" [responsive]="true" class="table table-hover">
            <ng-template pTemplate="header">
              <tr>
                <th [pSortableColumn]="'id'" style="width: 5em;" >
                  Id
                  <p-sortIcon [field]="'id'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'name'">
                  Name
                  <p-sortIcon [field]="'name'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'origin.name'">
                  Origin Log Source Connection
                  <p-sortIcon [field]="'origin.name'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'destiny.name'">
                  Destiny Log Source Connection
                  <p-sortIcon [field]="'destiny.name'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'groupCorrelatorTypeId'">
                  Group Correlator Type
                  <p-sortIcon [field]="'groupCorrelatorTypeId'"></p-sortIcon>
                </th>
                <th style="width: 7em;"></th>
              </tr>
              <tr>
                <th>
                  <input pInputText type="text" (input)="gcdt.filter($event.target.value, 'id')" size="4">
                </th>
                <th>
                  <input pInputText type="text" (input)="gcdt.filter($event.target.value, 'name', 'contains')">
                </th>
                <th>
                  <input pInputText type="text" (input)="gcdt.filter($event.target.value, 'origin.name', 'contains')">
                </th>
                <th>
                  <input pInputText type="text" (input)="gcdt.filter($event.target.value, 'destiny.name', 'contains')">
                </th>
                <th>
                  <input pInputText type="text" (input)="gcdt.filter($event.target.value, 'groupCorrelatorTypeId', 'contains')">
                </th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-gc>
              <tr>
                <td>{{gc.id}}</td>
                <td>{{gc.name}}</td>
                <td>{{gc.origin.name}}</td>
                <td>{{gc.destiny.name}}</td>
                <td>{{gc.groupCorrelatorTypeId}}</td>
                <td class="text-right">
                  <a routerLink="/groupcorrelator/create/{{study.id}}/{{gc.id}}" title="Edit Group Correlator">
                    <fa-icon icon="pencil-alt"></fa-icon>
                  </a>
                  <a routerLink="/study/detail/{{study.id}}" (click)="relate(gc)" title="Relate">
                      <fa-icon icon="link"></fa-icon>
                  </a>
                  <a routerLink="/groupcorrelator/listgrouprelationships/{{gc.id}}" title="List Relationships">
                    <fa-icon icon="project-diagram"></fa-icon>
                  </a>
                  <a routerLink="/study/detail/{{study.id}}" (click)="deleteGroupCorrelator(gc)" title="Remove Group Correlator">
                    <fa-icon icon="trash"></fa-icon>
                  </a>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
