<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary" *ngIf="id === undefined">
        Create Source Connection
      </div>
      <div class="card-header urupema-card-header-primary" *ngIf="id">
        Update Source Connection
      </div>
      <div class="card-body text-center" *ngIf="study === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="study !== undefined">
        <form [formGroup]="sourceConnectionForm" novalidate>
          <div class="form-group">
            <label>Study:</label>
            {{study.name}}
          </div>
          <div class="form-group">
            <label class="col-md-4">Log Source:</label>
            <select class="form-control" formControlName="sourceId" #sourceId (change)="fillLogTypes($event.target.value)">
              <option *ngFor="let source of sources"
                value="{{source.id}}"
                [selected]="sourceConnectionForm.controls['sourceId'].value == source.id">
                  {{source.name}}
              </option>
            </select>
          </div>
          <div *ngIf="sourceConnectionForm.controls['sourceId'].invalid && (sourceConnectionForm.controls['sourceId'].dirty || sourceConnectionForm.controls['sourceId'].touched)" class="alert alert-danger">
            <div *ngIf="sourceConnectionForm.controls['sourceId'].errors.required">
              Source Type is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Log Type:</label>
            <select class="form-control" formControlName="logType" #logType (change)="fillAggragatorTypes($event.target.value)" *ngIf="logTypes !== undefined">
              <option *ngFor="let logType of logTypes"
                value="{{logType}}"
                [selected]="sourceConnectionForm.controls['logType'].value == logType">
                  {{ logType }}
              </option>
            </select>
          </div>
          <div *ngIf="sourceConnectionForm.controls['logType'].invalid && (sourceConnectionForm.controls['logType'].dirty || sourceConnectionForm.controls['logType'].touched)" class="alert alert-danger">
            <div *ngIf="sourceConnectionForm.controls['logType'].errors.required">
              Log Type is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Group Aggregator Type:</label>
            <select class="form-control" formControlName="groupAggregatorTypeId" #groupAggregatorTypeId *ngIf="groupAggregatorTypes !== undefined">
              <option *ngFor="let gat of groupAggregatorTypes"
                value="{{gat.id}}"
                [selected]="sourceConnectionForm.controls['groupAggregatorTypeId'].value == gat.id">
                  {{ gat.name }}
              </option>
            </select>
          </div>
          <div *ngIf="sourceConnectionForm.controls['groupAggregatorTypeId'].invalid && (sourceConnectionForm.controls['groupAggregatorTypeId'].dirty || sourceConnectionForm.controls['groupAggregatorTypeId'].touched)" class="alert alert-danger">
            <div *ngIf="sourceConnectionForm.controls['groupAggregatorTypeId'].errors.required">
              Group Aggregator Type is required.
            </div>
          </div>
          <ng-container *ngIf="sourceConnectionForm.controls['groupAggregatorTypeId'].value === 'URI_AND_SUBTRACE'">
            <div class="form-group">
              <label class="col-md-4">Regex signature:</label>
              <input type="text" class="form-control" formControlName="regexSignature" #regexSignature />
            </div>
            <div class="form-group">
              <label class="col-md-4">Regex Ignore Signature:</label>
              <input type="text" class="form-control" formControlName="regexIgnoreSignature" #regexIgnoreSignature />
            </div>
          </ng-container>
          <div class="form-group">
            <label class="col-md-4">Suspicious Files Finder Type:</label>
            <select class="form-control" formControlName="suspiciousFilesFinderTypeId" #suspiciousFilesFinderTypeId *ngIf="suspiciousFilesFinderTypes !== undefined">
              <option value="{{undefined}}"
                [selected]="sourceConnectionForm.controls['suspiciousFilesFinderTypeId'].value == undefined"> </option>
              <option *ngFor="let sfft of suspiciousFilesFinderTypes"
                value="{{sfft.id}}"
                [selected]="sourceConnectionForm.controls['suspiciousFilesFinderTypeId'].value == sfft.id">
                  {{ sfft.name }}
              </option>
            </select>
          </div>
          <ng-container *ngIf="sourceConnectionForm.controls['suspiciousFilesFinderTypeId'].value !== ''">
            <div class="form-group">
              <label class="col-md-4">Suspicious files filter:</label>
              <input type="text" class="form-control" formControlName="suspiciousFilesFilter" #suspiciousFilesFilter />
            </div>
          </ng-container>
          <div class="form-group">
            <label class="col-md-4">Name:</label>
            <input type="text" class="form-control" formControlName="name" #name />
          </div>
          <div *ngIf="sourceConnectionForm.controls['name'].invalid && (sourceConnectionForm.controls['name'].dirty || sourceConnectionForm.controls['name'].touched)" class="alert alert-danger">
            <div *ngIf="sourceConnectionForm.controls['name'].errors.required">
              Name is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Start date:</label>
            <input type="datetime-local" class="form-control" placeholder="dd/mm/yyyy hh:MM:ss" formControlName="startDate" #startDate />
          </div>
          <div *ngIf="sourceConnectionForm.controls['startDate'].invalid && (sourceConnectionForm.controls['startDate'].dirty || sourceConnectionForm.controls['startDate'].touched)" class="alert alert-danger">
            <div *ngIf="sourceConnectionForm.controls['startDate'].errors.required">
              Start Date is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">End date:</label>
            <input type="datetime-local" class="form-control" placeholder="dd/mm/yyyy hh:MM:ss" formControlName="endDate" #endDate />
          </div>
          <div *ngIf="sourceConnectionForm.controls['endDate'].invalid && (sourceConnectionForm.controls['endDate'].dirty || sourceConnectionForm.controls['endDate'].touched)" class="alert alert-danger">
            <div *ngIf="sourceConnectionForm.controls['endDate'].errors.required">
              End Date is required.
            </div>
          </div>
          <div class="form-group" *ngIf="id == undefined">
            <button (click)="create()" [disabled]="sourceConnectionForm.pristine || sourceConnectionForm.invalid" class="btn btn-primary">Add</button>
          </div>
          <div class="form-group" *ngIf="id">
            <button (click)="update()" [disabled]="sourceConnectionForm.pristine || sourceConnectionForm.invalid" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
