<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary" *ngIf="id == undefined">
        Create Study
      </div>
      <div class="card-header urupema-card-header-primary" *ngIf="id">
        Update Study
      </div>
      <div class="card-body">
        <form [formGroup]="studyForm" novalidate>
          <div class="form-group">
            <label class="col-md-4">Name:</label>
            <input type="text" class="form-control" formControlName="name" #name />
          </div>
          <div *ngIf="studyForm.controls['name'].invalid && (studyForm.controls['name'].dirty || studyForm.controls['name'].touched)"
            class="alert alert-danger">
            <div *ngIf="studyForm.controls['name'].errors.required">
              Name is required.
            </div>
          </div>
          <div class="form-group" *ngIf="id == undefined">
            <button (click)="create()" [disabled]="studyForm.pristine || studyForm.invalid" class="btn btn-primary">Add</button>
          </div>
          <div class="form-group" *ngIf="id">
            <button (click)="update()" [disabled]="studyForm.pristine || studyForm.invalid" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>

</div>
<!-- row tabela -->
