<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary" *ngIf="issue === undefined">
        Create Issue
      </div>
      <div class="card-header urupema-card-header-primary" *ngIf="issue !== undefined && issue.id">
        Update Issue
      </div>
      <div class="card-body text-center" *ngIf="issueTrackerConnection === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="issueTrackerConnection !== undefined">
        <form [formGroup]="issueForm" novalidate>
          <div class="form-group">
            <app-issuetrackerconnectiondetail [issueTrackerConnection]="issueTrackerConnection">
            </app-issuetrackerconnectiondetail>
          </div>
          <div class="form-group">
            <label class="col-md-4">Issue Type:</label>
            <select class="form-control" formControlName="issueType" #issueType>
              <option *ngFor="let issueType of issueTypes"
                value="{{issueType}}"
                [selected]="issueForm.controls['issueType'].value == issueType">
                  {{issueType}}
              </option>
            </select>
          </div>
          <div *ngIf="issueForm.controls['issueType'].invalid && (issueForm.controls['issueType'].dirty || issueForm.controls['issueType'].touched)" class="alert alert-danger">
            <div *ngIf="issueForm.controls['issueType'].errors.required">
              Issue Type is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Identifier:</label>
            <input type="text" class="form-control" formControlName="identifier" #identifier />
          </div>
          <div *ngIf="issueForm.controls['identifier'].invalid && (issueForm.controls['identifier'].dirty || issueForm.controls['identifier'].touched)" class="alert alert-danger">
            <div *ngIf="issueForm.controls['identifier'].errors.required">
              Identifier is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Title:</label>
            <input type="text" class="form-control" formControlName="title" #title />
          </div>
          <div *ngIf="issueForm.controls['title'].invalid && (issueForm.controls['title'].dirty || issueForm.controls['title'].touched)" class="alert alert-danger">
            <div *ngIf="issueForm.controls['title'].errors.required">
                Title is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Open date:</label>
            <input type="datetime-local" class="form-control" placeholder="dd/mm/yyyy hh:MM:ss" formControlName="openDate" #openDate />
          </div>
          <div *ngIf="issueForm.controls['openDate'].invalid && (issueForm.controls['openDate'].dirty || issueForm.controls['openDate'].touched)" class="alert alert-danger">
            <div *ngIf="issueForm.controls['openDate'].errors.required">
                Open Date is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Close date:</label>
            <input type="datetime-local" class="form-control" placeholder="dd/mm/yyyy hh:MM:ss" formControlName="closeDate" #closeDate />
          </div>
          <div *ngIf="issueForm.controls['closeDate'].invalid && (issueForm.controls['closeDate'].dirty || issueForm.controls['closeDate'].touched)" class="alert alert-danger">
            <div *ngIf="issueForm.controls['closeDate'].errors.required">
              Close Date is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Enabled:</label>
            <input type="checkbox" class="form-control" formControlName="enabled" #enabled/>
          </div>
          <div *ngIf="issueForm.controls['enabled'].invalid && (issueForm.controls['enabled'].dirty || issueForm.controls['enabled'].touched)" class="alert alert-danger">
            <div *ngIf="issueForm.controls['enabled'].errors.required">
                Enabled is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Note:</label>
            <textarea
              class="form-control" formControlName="note" #note
              class="urupema-textarea"
              rows='10'></textarea>
          </div>
          <div *ngIf="issueForm.controls['note'].invalid && (issueForm.controls['note'].dirty || issueForm.controls['note'].touched)" class="alert alert-danger">
            <div *ngIf="issueForm.controls['note'].errors.required">
                Note is required.
            </div>
          </div>
          <div class="form-group" *ngIf="issue == undefined">
            <button (click)="create()" [disabled]="issueForm.pristine || issueForm.invalid" class="btn btn-primary">Add</button>
          </div>
          <div class="form-group" *ngIf="issue !== undefined && issue.id">
            <button (click)="update()" [disabled]="issueForm.pristine || issueForm.invalid" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
