<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary">
        Suspicious Files Finder Types
      </div>
      <div class="card-body text-center" *ngIf="suspiciousFilesFinderTypes === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="suspiciousFilesFinderTypes !== undefined">
        <p-table #dt [value]="suspiciousFilesFinderTypes" [responsive]="true" class="table table-hover">
          <ng-template pTemplate="header">
            <tr>
              <th [pSortableColumn]="'id'" style="width: 20em;">
                Id
                <p-sortIcon [field]="'id'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'name'">
                Name
                <p-sortIcon [field]="'name'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'description'">
                Description
                <p-sortIcon [field]="'description'"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-sffType>
            <tr>
              <td>{{sffType.id}}</td>
              <td>{{sffType.name}}</td>
              <td>{{sffType.description}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
