<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary" *ngIf="revision === undefined">
        Create Revision
      </div>
      <div class="card-header urupema-card-header-primary" *ngIf="revision !== undefined && revision.id">
        Update Revision
      </div>
      <div class="card-body text-center" *ngIf="issue === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="issue !== undefined">
        <form [formGroup]="revisionForm" novalidate>
          <div class="form-group">
            <label>Id: </label> {{issue.id}} <br/>
            <label>Identifier: </label> {{issue.identifier}} <br/>
            <label>Open Date: </label> {{issue.openDate | date: 'short'}} <br/>
            <label>Close Date: </label> {{issue.closeDate | date: 'short'}} <br/>
            <label>Issue Type: </label> {{issue.issueType}} <br/>
          </div>
          <div class="form-group">
            <label class="col-md-4">Identifier:</label>
            <input type="text" class="form-control" formControlName="identifier" #identifier />
          </div>
          <div *ngIf="revisionForm.controls['identifier'].invalid && (revisionForm.controls['identifier'].dirty || revisionForm.controls['identifier'].touched)" class="alert alert-danger">
            <div *ngIf="revisionForm.controls['identifier'].errors.required">
              Identifier is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Date:</label>
            <input type="datetime-local" class="form-control" placeholder="dd/mm/yyyy hh:MM:ss" formControlName="date" #date />
          </div>
          <div *ngIf="revisionForm.controls['date'].invalid && (revisionForm.controls['date'].dirty || revisionForm.controls['date'].touched)" class="alert alert-danger">
            <div *ngIf="revisionForm.controls['date'].errors.required">
                Date is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Comment:</label>
            <textarea
              class="form-control" formControlName="comment" #comment
              class="urupema-textarea"
              rows='10'></textarea>
          </div>
          <div *ngIf="revisionForm.controls['comment'].invalid && (revisionForm.controls['comment'].dirty || revisionForm.controls['comment'].touched)" class="alert alert-danger">
            <div *ngIf="revisionForm.controls['comment'].errors.required">
                Comment is required.
            </div>
          </div>
          <div class="form-group" *ngIf="revision == undefined">
            <button (click)="create()" [disabled]="revisionForm.pristine || revisionForm.invalid" class="btn btn-primary">Add</button>
          </div>
          <div class="form-group" *ngIf="revision !== undefined && revision.id">
            <button (click)="update()" [disabled]="revisionForm.pristine || revisionForm.invalid" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
