<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary" *ngIf="affectedUri === undefined">
        Create Affected URI
      </div>
      <div class="card-header urupema-card-header-primary" *ngIf="affectedUri !== undefined && affectedUri.id">
        Update Affected URI
      </div>
      <div class="card-body text-center" *ngIf="issue === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="reportedStackTrace !== undefined">
        <form [formGroup]="affectedUriForm" novalidate>
          <div class="form-group">
            <label>Id: </label> {{reportedStackTrace.id}} <br/>
            <label>Stack Trace: </label> <br/>
            <textarea rows='10' disabled="true">{{reportedStackTrace.stackTrace}}</textarea>
            <br/>
            <label>Enabled: </label> {{issue.enabled}} <br/>
            <label>Note: </label> {{issue.note}} <br/>
          </div>
          <div class="form-group">
            <label class="col-md-4">URI:</label>
            <input type="text" class="form-control" formControlName="uri" #uri />
          </div>
          <div *ngIf="affectedUriForm.controls['uri'].invalid && (affectedUriForm.controls['uri'].dirty || affectedUriForm.controls['uri'].touched)" class="alert alert-danger">
            <div *ngIf="affectedUriForm.controls['uri'].errors.required">
              Identifier is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Enabled:</label>
            <input type="checkbox" class="form-control" formControlName="enabled" #enabled/>
          </div>
          <div *ngIf="affectedUriForm.controls['enabled'].invalid && (affectedUriForm.controls['enabled'].dirty || affectedUriForm.controls['enabled'].touched)" class="alert alert-danger">
            <div *ngIf="affectedUriForm.controls['enabled'].errors.required">
                Enabled is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Note:</label>
            <textarea
              class="form-control" formControlName="note" #note
              class="urupema-textarea"
              rows='10'></textarea>
          </div>
          <div *ngIf="affectedUriForm.controls['note'].invalid && (affectedUriForm.controls['note'].dirty || affectedUriForm.controls['note'].touched)" class="alert alert-danger">
            <div *ngIf="affectedUriForm.controls['note'].errors.required">
                Comment is required.
            </div>
          </div>
          <div class="form-group" *ngIf="affectedUri == undefined">
            <button (click)="create()" [disabled]="affectedUriForm.pristine || affectedUriForm.invalid" class="btn btn-primary">Add</button>
          </div>
          <div class="form-group" *ngIf="affectedUri !== undefined && affectedUri.id">
            <button (click)="update()" [disabled]="affectedUriForm.pristine || affectedUriForm.invalid" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
