<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary">
        Find logs
      </div>
      <div class="card-body text-center" *ngIf="sourceConnection === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="sourceConnection !== undefined">
        <app-sourceconnectiondetail [sourceConnection]="sourceConnection">
        </app-sourceconnectiondetail>
        <br/>
        <form [formGroup]="findLogsForm" novalidate>
          <div class="form-group">
            <label class="col-md-4">Property Name:</label>
            <input type="text" class="form-control" formControlName="propertyName" #propertyName />
          </div>
          <div *ngIf="findLogsForm.controls['propertyName'].invalid && (findLogsForm.controls['propertyName'].dirty || findLogsForm.controls['propertyName'].touched)" class="alert alert-danger">
            <div *ngIf="findLogsForm.controls['propertyName'].errors.required">
              Property Name is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Property Value:</label>
            <input type="text" class="form-control" formControlName="propertyValue" #propertyValue />
          </div>
          <div *ngIf="findLogsForm.controls['propertyValue'].invalid && (findLogsForm.controls['propertyValue'].dirty || findLogsForm.controls['propertyValue'].touched)" class="alert alert-danger">
            <div *ngIf="findLogsForm.controls['propertyValue'].errors.required">
              Property Value is required.
            </div>
          </div>
          <button (click)="find()" [disabled]="findLogsForm.pristine || findLogsForm.invalid" class="btn btn-primary">Find</button>
        </form>
        <br/>
        <div class="card">
          <div class="card-header">
            <strong>Logs</strong>
          </div>
          <p-table #dt [columns]="cols" [value]="rows" sortField="date" sortOrder="1" [responsive]="true" class="table table-hover">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="th-{{col.field}} text-right">
                  {{col.header}}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th style="width: 2em;"></th>
              </tr>
              <tr>
                <th *ngFor="let col of columns">
                  <input *ngIf="col.field === 'id'" pInputText type="text" (input)="dt.filter($event.target.value, col.field)" size="4">
                  <input *ngIf="col.field === 'uri'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" size="30">
                </th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td *ngFor="let col of columns" class="td-{{col.field}} text-right">
                  <ng-container *ngIf="col.field !== 'date'">
                    {{rowData[col.field]}}
                  </ng-container>
                  <ng-container *ngIf="col.field === 'date'">
                      {{rowData[col.field] | date: 'short'}}
                    </ng-container>
                </td>
                <td class="text-right">
                  <a routerLink="/sourceconnection/log/detail/{{sourceConnection.id}}/{{rowData['id']}}" title="Detail">
                    <fa-icon icon="search"></fa-icon>
                  </a>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
