<div *ngIf="groupCorrelator !== undefined">
    <label>Study:</label> <!-- {{groupCorrelator.study.name}} -->
    <br/>
    <label>Group Correlator Id:</label> {{groupCorrelator.id}}
    <br/>
    <label>Group Correlator Name:</label> {{groupCorrelator.name}}
    <br/>
    <label>Group Correlator Type:</label> {{groupCorrelator.groupCorrelatorType.name}}
    <br/>
    <label>Origin Source Connection:</label> {{groupCorrelator.origin.name}}
    <br/>
    <label>Destiny Source Connection:</label> {{groupCorrelator.destiny.name}}
    <br/>
</div>
