<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary">
        Log Detail
      </div>
      <div class="card-body text-center" *ngIf="log === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="log !== undefined">
          <label>Id: </label> {{log.identifier}} <br/>
          <label>Date: </label> {{log.date | date: 'short'}} <br/>
          <label>URL: </label> {{log.requestURL}} <br/>
          <div *ngFor="let info of log.moreInformation | maptoiterable">
              <label>{{info.key}}: </label>
              <ng-container *ngIf="sourceConnectionFindLogs !== undefined && (info.key === 'id_registro_entrada' || info.key === 'hash_log_operacao' || info.key === 'hash_identificacao')">
                <a routerLink="/sourceconnection/findlogs/{{sourceConnectionFindLogs.id}}/{{info.key}}/{{info.value}}">
                  {{info.value}}
                </a>
              </ng-container>
              <ng-container *ngIf="sourceConnectionFindLogs === undefined || (info.key !== 'id_registro_entrada' && info.key !== 'hash_log_operacao' && info.key !== 'hash_identificacao')">
                {{info.value}}
              </ng-container>
              <br/>
          </div>
          <div class="form-group" *ngIf="log.trace">
              <label>Trace:</label><br/>
              <textarea class="urupema-textarea" rows='{{log.trace.split("\n").length}}' disabled="true">{{log.trace}}</textarea>
          </div>
          <div class="form-group" *ngIf="log.exceptionMessage">
              <label>Error message:</label><br/>
              <textarea class="urupema-textarea" rows='{{log.exceptionMessage.split("\n").length}}' disabled="true">{{log.exceptionMessage}}</textarea>
          </div>
      </div>
    </div>
  </div>
</div>
