<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary">
        Group Relashionship
      </div>
      <div class="card-body text-center" *ngIf="groupRelationship === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="groupRelationship !== undefined">
        <app-groupcorrelatordetail [groupCorrelator]="groupRelationship.groupCorrelator">
        </app-groupcorrelatordetail>
        <br/>
        <div class="card">
          <div class="card-header">
              <strong>Group</strong>
          </div>
          <div class="card-body">
            <label>Id:</label> {{groupRelationship.group.id}} <br/>
            <label>Elements count:</label> {{groupRelationship.group.elementsCount}} <br/>
            <label>Representant Id:</label> {{groupRelationship.group.representantId}} <br/>
            <div class="form-group">
              <label>Label:</label><br/>
              <textarea class="urupema-textarea" rows='{{groupRelationship.group.label.split("\n").length}}' disabled="true">{{groupRelationship.group.label}}</textarea>
            </div>
          </div>
        </div>
        <br/>
        <div class="card">
          <div class="card-header">
            <strong>Relateds</strong>
          </div>
          <div class="card-body">
            <div *ngFor="let related of groupRelationship.relateds">
              <label>Id:</label> {{related.id}} <br/>
              <label>Elements count:</label> {{related.elementsCount}} <br/>
              <label>Representant Id:</label> {{related.representantId}} <br/>
              <div class="form-group">
                <label>Label:</label><br/>
                <textarea class="urupema-textarea" rows='{{related.label.split("\n").length}}' disabled="true">{{related.label}}</textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
