<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary">
          Studies <a routerLink="/study/create"><fa-icon icon="plus"></fa-icon></a>
      </div>
      <div class="card-body text-center" *ngIf="studies === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="studies !== undefined">
        <p-table #dt [value]="studies" [responsive]="true" class="table table-hover">
          <ng-template pTemplate="header">
            <tr>
              <th [pSortableColumn]="'id'" style="width: 5em;">
                Id
                <p-sortIcon [field]="'id'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'name'">
                Name
                <p-sortIcon [field]="'name'"></p-sortIcon>
              </th>
              <th style="width: 6em;"></th>
            </tr>
            <tr>
              <th>
                  <input pInputText type="text" (input)="dt.filter($event.target.value, 'id')" size="4">
              </th>
              <th>
                  <input pInputText type="text" (input)="dt.filter($event.target.value, 'name', 'contains')">
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-study>
            <tr>
              <td>{{study.id}}</td>
              <td>{{study.name}}</td>
              <td class="text-right">
                <a routerLink="/study/create/{{study.id}}"><fa-icon icon="pencil-alt"></fa-icon></a>
                <a routerLink="/study/detail/{{study.id}}"><fa-icon icon="search"></fa-icon></a>
                <a routerLink="/study/list" (click)="deleteStudy(study)"><fa-icon icon="trash"></fa-icon></a>
              </td>
            </tr>
          </ng-template>
        </p-table>
    </div>
  </div>
</div>
