<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary">
        Source Connection - Log Count
      </div>
      <div class="card-body text-center" *ngIf="logCounts === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="logCounts !== undefined">
        <app-sourceconnectiondetail [sourceConnection]="sourceConnection">
        </app-sourceconnectiondetail>
        <br/>
        <div class="card">
          <div class="card-header">
            <strong>URIs ({{selectedUris.length}}/{{logCounts.length}} seleteds) - ({{filteredUris()}}/{{logCounts.length}} displayed)</strong>
          </div>
          <p-table #dt [value]="logCounts" sortField="count" sortOrder="-1" [responsive]="true" class="table table-hover" expandableRows="true" dataKey="uri">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 3em"></th>
                <th [pSortableColumn]="'uri'">
                  URI
                  <p-sortIcon [field]="'uri'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'firstDate'" class="text-right" style="width: 8em;">
                  First
                  <p-sortIcon [field]="'firstDate'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'lastDate'" class="text-right" style="width: 8em;">
                  Last
                  <p-sortIcon [field]="'lastDate'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'count'" style="width: 7em;">
                  Count
                  <p-sortIcon [field]="'count'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'usersCount'" style="width: 7em;">
                  Users
                  <p-sortIcon [field]="'usersCount'"></p-sortIcon>
                </th>
                <th style="width: 2em;">
                  <a routerLink="/sourceconnection/logcount/{{sourceConnection.id}}" (click)='agroup()' title="Agroup">
                    <fa-icon icon="boxes"></fa-icon>
                  </a>
                </th>
              </tr>
              <tr>
                <th></th>
                <th>
                  <input pInputText type="text" (input)="dt.filter($event.target.value, 'uri', 'contains')" size="50">
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>
                	<input type="checkbox" (click)="toggleAll()" />
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-lc let-expanded="expanded">
              <tr>
                <td>
                  <a href="#" [pRowToggler]="lc">
                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                  </a>
                </td>
                <td class="blurry">{{lc.uri}}</td>
                <td class="text-right">{{lc.firstDate | date: 'short'}}</td>
                <td class="text-right">{{lc.lastDate | date: 'short'}}</td>
                <td class="text-right">{{lc.count}}</td>
                <td class="text-right">{{lc.usersCount}}</td>
                <td class="text-right">
                  <input type="checkbox" (click)="toggleUri(lc.uri)" [checked]="isSelectedUri(lc.uri)" />
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-lc>
              <tr>
                <td [attr.colspan]="7">
                    <div class="ui-g ui-fluid" style="padding:20px">
                      <p-table #dt2 [value]="lc.usersStats" sortField="count" sortOrder="-1" [responsive]="true" class="table table-hover" [paginator]="true" [rows]="10">
                          <ng-template pTemplate="header">
                            <tr>
                              <th>
                                User
                              </th>
                              <th [pSortableColumn]="'count'" style="width: 7em;">
                                Count
                              </th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-user>
                            <tr>
                              <td class="blurry">
                                {{user.identifier}}
                              </td>
                              <td class="text-right">
                                {{user.count}}
                              </td>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="footer">
                            <tr>
                                <td class="text-right">Totals</td>
                                <td class="text-right">{{findTotalCallUsers(lc)}}</td>
                            </tr>
                          </ng-template>
                      </p-table>
                    </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                  <td></td>
                  <td class="text-right" [attr.colspan]="3">Totals</td>
                  <td class="text-right">{{filteredCount()}}</td>
                  <td class="text-right">{{filteredUsers()}}</td>
                  <td></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
