<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
      <a class="navbar-brand" href="index.html"><img src="/assets/img/urupema.png" style="height: 40px; width: 40px;"></a>
  </div>
  <!-- /.navbar-header -->
  <ul class="nav navbar-top-links navbar-right">
    <div class="btn-group">
        <div class="btn-group pull-left">
          <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">
              <fa-icon icon="ellipsis-v"></fa-icon>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" routerLink="/study/list"><fa-icon icon="graduation-cap"></fa-icon> Study</a>
          </div>
          <!-- /.dropdown-tasks -->
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">
            <fa-icon icon="cogs"></fa-icon>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" routerLink="/issuetrackersource"><fa-icon icon="database"></fa-icon> Issue Tracker Source</a>
            <a class="dropdown-item" routerLink="/source"><fa-icon icon="database"></fa-icon> Log Source</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/issuetrackertype"><fa-icon icon="plug"></fa-icon> Issue Tracker Type</a>
            <a class="dropdown-item" routerLink="/sourcetype"><fa-icon icon="plug"></fa-icon> Log Source Type</a>
            <a class="dropdown-item" routerLink="/groupaggregatortype"><fa-icon icon="coins"></fa-icon> Group Aggregator Type</a>
            <a class="dropdown-item" routerLink="/groupcorrelatortype">
              <fa-icon icon="project-diagram"></fa-icon>
              Group Correlator Type
            </a>
            <a class="dropdown-item" routerLink="/suspiciousfilesfindertype">
              <fa-icon icon="bug"></fa-icon>
              Suspicious Files Finder Type
            </a>
          </div>
          <!-- /.dropdown-tasks -->
        </div>
      <!-- /.dropdown -->
    </div>
  </ul>
  <!-- /.navbar-top-links -->
  <!-- /.navbar-static-side -->
</nav>
