<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary">
        Log Group Suspicious Report
      </div>
      <div class="card-body text-center" *ngIf="logGroupSuspiciousReport === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="logGroupSuspiciousReport !== undefined">
          <div class="form-group">
            <label>Title: </label> <br/>
            <textarea class="urupema-textarea" rows='1' disabled="true">{{logGroupSuspiciousReport.title}}</textarea>
          </div>
          <div class="form-group">
            <label>Description, Affected URIs, Suspiciouns Files/Methods:</label><br/>
            <textarea class="urupema-textarea" rows='{{logGroupSuspiciousReport.description.split("\n").length + logGroupSuspiciousReport.affectedURIs.split("\n").length + logGroupSuspiciousReport.suspiciousFiles.split("\n").length + 2}}' disabled="true">
{{logGroupSuspiciousReport.description}}
{{logGroupSuspiciousReport.affectedURIs}}
{{logGroupSuspiciousReport.suspiciousFiles}}
            </textarea>
          </div>
          <!--
          <div class="form-group">
            <label>Description, Affected URIs, Suspiciouns Files/Methods:</label><br/>
            <textarea class="urupema-textarea" rows='{{logGroupSuspiciousReport.description.split("\n").length}}' disabled="true">{{logGroupSuspiciousReport.description}}</textarea>
          </div>
          <div class="form-group">
            <label>Affected URIs:</label><br/>
            <textarea class="urupema-textarea" rows='{{logGroupSuspiciousReport.affectedURIs.split("\n").length}}' disabled="true">{{logGroupSuspiciousReport.affectedURIs}}</textarea>
          </div>
          <div class="form-group">
            <label>Suspiciouns Files and methods:</label><br/>
            <textarea class="urupema-textarea" rows='{{logGroupSuspiciousReport.suspiciousFiles.split("\n").length}}' disabled="true">{{logGroupSuspiciousReport.suspiciousFiles}}</textarea>
          </div>
          -->
          <label>Stack trace samples:</label><br/>
          <div *ngFor="let stackTraceSample of logGroupSuspiciousReport.stackTraceSamples">
            <textarea class="urupema-textarea" rows='{{stackTraceSample.split("\n").length}}' disabled="true">{{stackTraceSample}}</textarea>
          </div>
          <br/>
          <div class="form-group">
            <label>Instrictions:</label><br/>
            <textarea class="urupema-textarea" rows='6' disabled="true">
Instruções a serem seguidas durante a solução da tarefa:
* Sempre referencie a tarefa quando fizer o commit para resolver o bug;
* Altere apenas o necessário para corrigir o bug;
* Não envie refatorações no mesmo commit;
* Ajude-nos a avaliar e melhorar nossa abordagem. Por favor, participe da nossa pesquisa preenchendo o questionário de avaliação (https://forms.gle/JQgLfaLhVYDkY7QE7). Seus dados serão mantidos em sigilo.
            </textarea>
          </div>
      </div>
    </div>
  </div>
</div>
