<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary">
        Issue Tracker Connection - Affected URIs
      </div>
      <div class="card-body text-center" *ngIf="rows === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="rows !== undefined">
        <app-issuetrackerconnectiondetail [issueTrackerConnection]="issueTrackerConnection">
        </app-issuetrackerconnectiondetail>
        <br/>
        <br/>
        <div class="card">
          <div class="card-header">
            <strong>Affected URIs ({{rows.length}})</strong>
          </div>
          <p-table #dt [columns]="cols" [value]="rows" sortField="uri" sortOrder="1" [responsive]="true" class="table table-hover">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="th-{{col.field}} text-right">
                  {{col.header}}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td *ngFor="let col of columns" class="td-{{col.field}} text-right">
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
