<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header urupema-card-header-primary">
        Log Group - Logs Over Time
      </div>
      <div class="card-body text-center" *ngIf="rows === undefined">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </div>
      <div class="card-body" *ngIf="rows !== undefined">
        <label>Id:</label> {{logGroup.id}}
        <br/>
        <label>Type Description:</label> {{logGroup.typeDescription}}
        <br/>
        <label>Occurrence:</label> {{logGroup.firstOccurrenceDate | date: 'short'}} - {{logGroup.lastOccurrenceDate | date: 'short'}}
        <br/>
        <label>Subgroups:</label> {{logGroup.subGroupsCount}}
        <br/>
        <label>Elements:</label> {{logGroup.elementsCount}}
        <br/>
        <label>Representant Id:</label> {{logGroup.representantId}}
        <br/>
        <br/>
        <div class="card">
          <div class="card-header">
            <strong>Dates ({{rows.length}})</strong>
          </div>
          <p-table #dt [columns]="cols" [value]="rows" sortField="date" sortOrder="1" [responsive]="true" class="table table-hover"
            [paginator]="true" [rows]="10"
            expandableRows="true" dataKey="date">
            <ng-template pTemplate="header" let-columns>
              <tr>
                  <th style="width: 3em"></th>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="th-{{col.field}} text-right">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-date let-expanded="expanded">
                <tr>
                  <td>
                    <a href="#" [pRowToggler]="date">
                      <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                    </a>
                  </td>
                  <td *ngFor="let col of columns" class="td-{{col.field}} text-right">
                    <ng-container *ngIf="col.field !== 'date'">
                      {{rowData[col.field]}}
                    </ng-container>
                    <ng-container *ngIf="col.field === 'date'">
                      {{rowData[col.field] | date: 'dd/MM/yyyy' : 'UTC'}}
                    </ng-container>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-date>
              <tr>
                <td [attr.colspan]="3">
                  <div class="ui-g ui-fluid" style="padding:20px">
                    <app-tableaffectedurisandusers [urisStats]="date.urisStats">
                    </app-tableaffectedurisandusers>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <p-chart #chart type="bar" [data]="chartData" [options]="chartOptions" height="30vh" *ngIf="chartLoaded" ></p-chart>
        </div>
      </div>
    </div>
  </div>
</div>
